@charset "utf-8";
/* CSS Document */


h1 {
  color: #15315a !important;
  
}

h2 {
  color: #15315a !important;
  
}

h3 {
  color: #00759d !important;
  
}

div.break
{
	page-break-before: always;
}
