/* CSS Document */
.div{
	word-break:break-all; text-align:right;
}
.table td{
	word-break:break-all; text-align:right;
}
.table span{
	/*white-space:nowrap;*/
}

.div span{
	/*white-space:nowrap;*/
}








.div{
	float:left;	
}
br{clear:both;}