@charset "utf-8";
/* CSS Document */
div, ul, p, table, tr, th, td, img, object, h1, h2, h3, h4, h5 {
  font-size: 13px;
}
p+p, ul+p{
	margin-top:4px;	
}
sup{
	position:relative;
	top:10px;	
}
h1{
	color:#00759d !important;
	font-size:32px !important;
	font-weight:normal !important;
}
h2{
	color:#00ade6 !important;
	font-size:24px !important;
	font-weight:normal !important;
}
h2.icon-h2{
	display:inline-block;
	margin:0 !important;
	line-height:2em;
}
h2 .kf-icon{
	color: #545c5b !important;
    display: block;
    float: left;
    font-size: 50px;
    height: 35px;
    padding: 0 16px 0 10px;
    position: relative;
    text-align: center;
    top: 25px;
    width: 35px;
}
h3{
	font-size:19px !important;
	font-weight:normal !important;
}
hr{
	background:#d9d9d9;
	color:#d9d9d9;
	font-size: 6px !important;
    height: 1px;
}
div, ul, p, table, tr, th, td, span, h3{
	color:#231f20 !important;
	font-weight:normal !important;
}
.icon-yellow{
	color:#f8d436 !important;
}
.icon-green{
	color:#00ab87 !important;
}
.icon-orange{
	color:#f58220 !important;
}
.icon-red{
	color:#da002e !important;
}
/* Cover CSS */

/* OLD CSS that works with old WKHTMLTOPDF

.assessmentname {
	color:#757D7C !important;
	font-size: 24px !important;
	line-height:100%;
	padding-bottom:5px;
}

.reportname {
	color:#00ade6 !important;
	font-size: 84px !important;
	line-height:100%;
	padding-right:0;
}

.personal {
	padding-top:12px;
	color:#545C5B !important;
	font-size: 32px !important;
	line-height:100%
}

.name, .client, .target, .date {
	color:#757D7C !important;
	font-size: 16px !important;
	line-height:100%
}

.fullname, .clientname, .targetname, .reportdate {
	padding-top:7px;
	color:#000000 !important;
	font-size: 18px !important;
	line-height:100%
}

*/

.assessmentname {
	color:#757D7C !important;
	font-size: 20px !important;
	line-height:100%;
	padding-bottom:3px;
}

.reportname {
	color:#00ade6 !important;
	font-size: 66px !important;
	line-height:100%;
	padding-right:0;
}

.personal {
	padding-top:8px;
	color:#545C5B !important;
	font-size: 24px !important;
	line-height:100%
}

.name, .client, .target, .date, .groupLabel {
	color:#757D7C !important;
	font-size: 12px !important;
	line-height:100%
}

.fullname, .clientname, .targetname, .reportdate {
	padding-top:7px;
	color:#000000 !important;
	font-size: 14px !important;
	line-height:100%
}

.col1 {
	background-color: #FCD700;
	width: 10px;
}

.col2 {
	width: 15px;
}

.col2high {
	width: 15px;
	heigth: 70px;
}


.col4 {
	width: 10px;
}


.col3, .col5 {
	width: 300px;
}


/* End Page CSS */

.whitetext {
	color:#FFFFFF !important;
}


.headertext {
	font-size: 22px;
	font-weight:bold !important;
	color:#FFFFFF !important;
}

.bodytext {
	font-size: 14px;
	color:#FFFFFF !important;
	line-height:115% !important;
	
}

.pad {
	padding-bottom:7px;
}


.whiteborder {
border-width: 1px;
border-style:solid; 
border-left-color:#FFFFFF; 
border-right-color:#757D7C;
border-top-color:#757D7C;
border-bottom:#757D7C;
}

.version {
	font-size: 6pt !important;
	font-weight:bold !important;
	color:#FFFFFF !important;
}

/* Footer CSS */


.page{
  font-size: 18px;
}

span.pc {
	
  font-style: italic !important;
  font-size: 10px; !important
}


span.kf  {

  font-size: 10px; !important
}

span.footerdate {

  font-size: 10px; !important
}


/* Header CSS */

span.alp {
	
  font-weight:bold !important;
  
}