/*
@font-face {
    font-family: 'KornFerryIcons';
    src: url(../../projects/kfap/feedback/KornFerryReportIcons-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

*/
.kf-icon {
	font-family: 'Korn Ferry Report Icons';
	font-size: 2em;
	font-weight: normal;
	line-height: 0;
}
