/* Cover CSS */

.assessmentname {
	color:#757D7C !important;
	font-size: 20px !important;
	line-height:100%;
	padding-bottom:13px;
}

.reportname {
	color:#00759d !important;
	font-size: 50px !important;
	line-height:100%;
	padding-right:0;
	padding-bottom:10px;
}

.personal {
	padding-top:8px;
	color:#545C5B !important;
	font-size: 24px !important;
	line-height:100%
}

.name, .client, .target, .date, .groupLabel {
	color:#757D7C !important;
	font-size: 12px !important;
	line-height:100%
}

.fullname, .clientname, .targetname, .reportdate {
	padding-top:7px;
	color:#000000 !important;
	font-size: 14px !important;
	line-height:100%
}

.col1 {
	background-color: #FCD700;
	width: 10px;
}

.col2 {
	width: 15px;
}

.col2high {
	width: 15px;
	heigth: 70px;
}


.col4 {
	width: 10px;
}


.col3, .col5 {
	width: 300px;
}


/* End Page CSS */

.whitetext {
	color:#FFFFFF !important;
}


.headertext {
	font-size: 22px;
	font-weight:bold !important;
	color:#FFFFFF !important;
}

.bodytext {
	font-size: 14px;
	color:#FFFFFF !important;
	line-height:115% !important;
	
}

.pad {
	padding-bottom:7px;
}


.whiteborder {
border-width: 1px;
border-style:solid; 
border-left-color:#FFFFFF; 
border-right-color:#757D7C;
border-top-color:#757D7C;
border-bottom:#757D7C;
}


/* Footer CSS */


.page{
  font-size: 18px;
  padding-right: 34px;
}

span.pc {
	
  font-style: italic !important;
  font-size: 10px; !important;
  padding-left: 34px;
}


span.kf  {

  font-size: 10px; !important
}

span.footerdate {

  font-size: 10px; !important
}


/* Header CSS */

span.alp {
	
  font-weight:bold !important;
  
}