span.icon-needs-development-grey{
	display:inline-block;
	background:url(../../shared/css/images/icon-needs_greybg.png) no-repeat;
	height:20px;
	width:22px;
}
span.icon-strong-grey{
	display:inline-block;
	background:url(../../shared/css/images/icon-strength_greybg.png) no-repeat;
	height:20px;
	width:22px;
}
span.icon-needs-development{
	display:inline-block;
	
}
span.icon-strong{
	display:inline-block;
}
.kf-icon {
	color:545c5b !important;
}

div.break
{
	page-break-before: always;
}


hr{
    border: none;
    height: 1px;
    background-color: #000; 
}

h4{
	font-size:13px !important;
	font-weight: bold !important;
}

/*#####################

SNAPSHOT BARS TABLE

#####################*/
.snapshot-table{
	width:100%;
	margin-top: 32px;
}
.snapshot-table span, .snapshot-table th span{
	display:block;
	padding:28px 0 28px 58px;
}
.snapshot-table div{
	padding:10px 0;
}
.snapshot-table td div{
	font-size:13px !important;
}
.snapshot-table th{
	background:#545c5b;
	border-bottom:1px #FFF solid;
}
.snapshot-table .needs-bar, .snapshot-table .strength-bar{
	background:#e3e2e2;
	border-top:#FFF solid 2px;
}
.snapshot-table th span{
	font-weight: bold !important;
	font-size:15px;
	text-align:left;
	color:#FFF !important;
}
.mid-th-cell {
	border:none !important;
	background:#FFF !important;
}
.snap-cat-title{
	background:#eae9e9;
	color:#666 !important;	
}
.snap-cat-title .kf-icon {
	font-size:2.4em !important;
	display:inline-block; 
	width:42px;
	text-align:center;
	border-top:none !important;
	padding:0px 8px;
	position:relative;
	top:-5px;  	
	color:#545c5b;
}
.mid-th-cell {
	width:1.5%;
}

.snapshot-table .icon-need{
	width:49.25%;
}
.snapshot-table .icon-strength{
	width:49.25%;
}
.icon-need span{
	padding-left:30px;
	background:url(../../shared/css/images/icon-needs-header.png) 12px 21px no-repeat;
}
.icon-strength span{
	padding-left:28px;
	background:url(../../shared/css/images/icon-strength-header.png) 12px 21px no-repeat;
}

.needs-bar div{
	background:#fcd700;
	height: 16px;
	color:#545C5B !important;
}
.strength-bar .kf-icon{
	color:#FFF !important;
}
.strength-bar div{
	background:#00a886;
	height: 16px;
	color:#FFF !important;
}
.footnotes {
	margin-top: 52px;
	width:100%;
}
.footnotes td{
	background:#eae9e9;
	vertical-align:middle;
	padding:8px 2px 8px 5px;
}

/*#####################

Assessment Shorts/Longs

#####################*/


.icon-container-a{
	padding:0 4px 22px 6px;
	position: relative;
}

.indent-item-text{
	display:block;
	margin-left:84px;
	padding-top:8px;
}
.details-chart{
	margin-top:12px;
}
.detail-chart .kf-icon{
	font-size:2em;	
}
.dev-strong-cell{
	background-color:#eae9e9;
	width:135px;
	padding:6px;
/* 	font-size:11px; WTF! REMOVING THIS FIXES KFP-387    MADNESS, NONSENSE, RUBBISH, MERLINS BEARD!!@!#!$!$%!*/
	vertical-align:top !important;
}
/* this rule was added to fix https://kfpitt.atlassian.net/browse/KFP-387 (along with the span tags on the xsl file) */
.dev-strong-cell span{
	font-size:11px;
}
.subsection-table td{
	min-height:60px;
	position:relative;
	vertical-align:middle;
}
.chart-cell{
	padding:0 20px;
	width:350px;
	text-align:center;
}
.chart-cell span{
	position:relative;
}
.scale-pin{
	display:block;
	height:36px;
	width:1px;
	position:absolute;
}
.scale-pin img{
	position:relative;
	left:-18px;
}
.scale-pin span{
	display: block;
    position: absolute;
    text-align: center;
	left:-11px;
    
}
.scale-pin .kf-icon{
	font-size:54px;
	top:17px;
	
}
.subsection-score{
	font-size: 11px;
	font-weight:bold;
	top:.5px;
	width: 21px;
}
.scale-label{
	font-weight:bold;
	font-size:11px;
	color:#FFF !important; 
	position: absolute !important; 
    top: -24px;
        
}
.label-1{
	left:2px;
}
.label-11{
	left:37px;
}
.label-25{
	left:88px;
}
.label-50{
	left:178px;
}
.label-85{
	left:300px;
}
.label-91{
	left:321px;
}
.label-99{
	left:336px;
}
/* Key challanges list */
.indent-challenges-list{
	margin-left:30px;
}
.indent-challenges-list h4{
	color:#00ade6 !important;
	padding-top:8px;
}

.kc-col1 {
	width: 15px;
}

.bullet-box{
	background:url(../../shared/css/images/bullet-box.png) no-repeat;
	background-position: 0px 5px;
	
}

.bullet-box-check{
	background:url(../../shared/css/images/bullet-box-check.png) no-repeat;
	background-position: 0px 5px;
	
}

.indent-challenges-list ul{
	list-style:inside url(../../shared/css/images/bullet-box.png);
	padding:0;
}
.indent-challenges-list li{
	line-height:14px;
}
.currently-addressing{
	font-size:13px;
	font-weight:bold;
	color:rgb(245, 130, 32);
	position:relative;
}
/*#####################

Career to Date

#####################*/
.career-to-date .kf-icon{
	display:inline-block;
	width:56px;
	padding:0;
	/* top:22px;  worked in browser */
	top:2px;
	text-align:center;
	font-size:2.7em;
	color:#000 !important;
}
.indent-career-text{
	margin-left:58px;
}
.nudge-left-3{
	left:-3px;	
}
.nudge-left-6{
	left:-6px;	
}
/*#####################

RECOMMENDED CAREER PATH & Priorities SECTIONs

#####################*/
.item-table{
	width:100%;
	margin-top:28px;
}
#recommentations{
	margin-bottom:50px;
}
.rec-col-1-item{
	text-align:center;
	width:118px; 
	font-size:24px;
	height:63px;
	color:#FFF !important;
	font-weight:bold !important;
	background-color:rgb(245, 130, 32);
}
.rec-col-1-item.priorities-color{
	background:#a21189 !important;
}
.yrs-label{
	font-size:13px;
	color:#FFF !important;
	font-weight:bold !important;
}
.yrs-label-total{
	font-size:13px;
	color:#231f20  !important;
	font-weight:bold !important;
}
.rec-cell{
	border-bottom:#d89b78 solid 2px;
}
.rec-cell.priorities-color{
	border-bottom:#6e005b solid 2px;
}
.priorities-text{
	padding:10px 15px;
}
.rec-text .kf-icon, .rec-cell .kf-icon{
	font-size:36px;	
}
.rec-total{
	background-color:#eae9e9;
}
.rec-col-1-total{
	text-align:center;
	width:94px;
	height:63px;
	font-size:24px;
	font-weight:bold !important;
	background-color:#dadad9;
}
.icon-current-27, .icon-apiration-27, .icon-target-27{
	padding:0 16px;
	background-position:16px 0 !important;
}
.icon-current-27{
	background:url(../../shared/css/images/icon-current-27.png) no-repeat;
	display:block;
	width:27px;
	height:27px;
	
}
.icon-apiration-27{
	background:url(../../shared/css/images/icon-aspiration-27.png) no-repeat;
	display:block;
	width:27px;
	height:27px;
}
.icon-target-27{
	background:url(../../shared/css/images/icon-target-27.png) no-repeat;
	display:block;
	width:27px;
	height:27px;
}

/*#####################

     summary Section

#####################*/
.background-container{
	background:#dadad9;
	width:100%;
}
.background-container td{
	padding:10px 0;
}
.overview-col-1{
	text-align:center;
	width:47%;
}
.overview-col-1 .kf-icon{
	font-size:67px;	
}
.background-container ul{
	list-style:none !important;
	padding:0;
}
.background-label{
	font-size:16px !important;
	font-weight:bold !important;
}
.background-container li{
	float:left; clear:both;
}
.background-container ul .background-label{
	width:30px;
	text-align:right;
	padding-right:6px;
}
.background-container ul span{
	float:left;
	clear:right;
	max-width:89%;
}
.goal-obj-role-container{
	width:100%;
}
.goal-obj-role-container td{
	vertical-align:top;
	padding-top:24px;
}
.goal-obj-role-container span,.goal-obj-role-container li{
	color:#FFF !important;
	font-size:14px;
}
.goal-obj-role-container ul{
	padding:0 59px 32px;;
}
.goal-obj-container{
	background:#00ade6;
	border-top:#FFF solid 2px;
	border-right:#fff solid 2px;
	width:50%;
}
.goal-obj-role-container .kf-icon {
    font-size: 67px;
    padding-left: 36px;
    padding-right: 12px;
    position: relative;
    top: 20px;
}
.role-container{
	border-top:#FFF solid 2px;
	background:#a8228b;
}
.goals-objectives-label , .role-label{
	background-position: 24px 0 !important;
    display: inline-block;
    font-size: 16px;
    font-weight: bold !important;
    height: 48px;
    
}
/*
.goals-objectives-label{
		background:url(../../shared/css/images/icon-background-lrg-white.png) no-repeat;
}
.role-label{
		background:url(../../shared/css/images/icon-target-lrg-white.png) no-repeat;
}
*/
/* ##############

experience table 

#################*/
.experience-table{
	width:100%;
	margin-top:48px;
}
.exp-col-1{
	width:50%;
	text-align:left;
	vertical-align:bottom;
}
.experience-table th span{
	position:relative;
	top:0px;	
}
.experience-table th .kf-icon{
	font-size:50px;	
	top:24px;
}
.experience-table td, .experience-table th {
	vertical-align:bottom;
	position:relative;
}
.experience-table h3{
	font-size:14px !important;
	font-weight:bold !important;
}
.experience-th-past, .experience-th-future{
	text-align:center;
	width:13%;
	font-size:11px;
	line-height:14px;
}
.cat-item-title{
	color:#FFF !important;
	font-size:12px;
	font-weight:bold !important;
	padding:4px 12px 4px 22px;;
}
.experience-cat-1{
	background-color:#f58220;
}
.experience-cat-2{
	background-color:#00ade6;
}
.experience-cat-3{
	background-color:#00a886;
}
.experience-cat-4{
	background-color:#a8228b;
}
.experience-cat-5{
	background-color:#e32726;
}
.exp-header-icon{
	padding-top:4px;
}
.check-box{
	background-color:#eae9e9;
	/* vertical-align:middle;  worked in browser */
	vertical-align:top;
	text-align:center;
}
.current{
	/*background-image:url(../../shared/css/images/icon-current-xsm-white.png);	
	background-repeat:no-repeat;
	background-position:3px 5px;*/
}
.current .kf-icon{
	color:#FFF !important;
	position:absolute;
	font-size:21px;
	left:6px;
	/* top:15px;  worked in browser */
	top:12px;
}
.current-role-key{
	font-size:11px;
	color:#757d7c !important;
	
}
.current-role-key-icon{
	position:relative;
	font-size:21px;
	color:#757d7c !important;
	top:4px;
	padding:0 6px;
}
/* summary chart */
#step-chart{ 
	width:100%;
	height:300px;
	vertical-align:bottom;
	float:left;
}
.step div{
	content:'&nbsp;';
}
.step{
	float:left;
	width: 74.5px;
	height:225px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:bottom;
}
.step div{
	float:right;
	position:relative;
}
.step-label{
	color:#000 !important;
	width:72px;
	float:left;
	padding-right:2px;
	font-size:8.5px;
}
.step-label.disabled{
	color:#757D7C !important;	
}
/*#pin1{
	background-image:url(../../shared/css/images/icon-current.png);
}
#pin2{
	background-image:url(../../shared/css/images/icon-aspiration.png);
}
#pin3{
	background-image:url(../../shared/css/images/icon-target.png);
}*/

.pin{
	height:84px;
}
.pin .label{
	white-space:nowrap;
	background:#FCD700;
	min-width:120px;
	text-align:center;
	font-size:11px !important;
	font-weight:normal !important;
	padding:0px 5px;
	position:relative;
	top:-28px;
	float:left;
	z-index: 3;
	
}
#pin1 .label,#pin1 .guide{
	top:8px;	
}
#pin2 .label,#pin2 .guide{
	top:-10px;	
}
.guide{
	background:#FCD700;
	width:2px;
	height:17px;
	float:right;
	position:relative;  
	right:18px;
	top:-28px;
	z-index: 1;
}
.step-icon .kf-icon{
	font-size:35px;
	position:relative;
	top:8px;
}
.step-icon{
	right:12px;
}
.step-1{
	background-image:url(../../shared/css/images/levels-step-1-off.png);
}
.step-2{
	background-image:url(../../shared/css/images/levels-step-2-off.png);
}
.step-3{
	background-image:url(../../shared/css/images/levels-step-3-off.png);
}
.step-4{
	background-image:url(../../shared/css/images/levels-step-4-off.png);
}
.step-5{
	background-image:url(../../shared/css/images/levels-step-5-off.png);
}
.step-6{
	background-image:url(../../shared/css/images/levels-step-6-off.png);
}
.step-7{
	background-image:url(../../shared/css/images/levels-step-7-off.png);
}
.step-8{
	background-image:url(../../shared/css/images/levels-step-8-off.png);
}
.step-9{
	background-image:url(../../shared/css/images/levels-step-9-off.png);
}
.step-1-active{
	background-image:url(../../shared/css/images/levels-step-1.png);
}
.step-2-active{
	background-image:url(../../shared/css/images/levels-step-2.png);
}
.step-3-active{
	background-image:url(../../shared/css/images/levels-step-3.png);
}
.step-4-active{
	background-image:url(../../shared/css/images/levels-step-4.png);
}
.step-5-active{
	background-image:url(../../shared/css/images/levels-step-5.png);
}
.step-6-active{
	background-image:url(../../shared/css/images/levels-step-6.png);
}
.step-7-active{
	background-image:url(../../shared/css/images/levels-step-7.png);
}
.step-8-active{
	background-image:url(../../shared/css/images/levels-step-8.png);
}
.step-9-active{
	background-image:url(../../shared/css/images/levels-step-9.png);
}
.step-1-active #pin1 .guide{
	height: 123px
}
.step-2-active #pin1 .guide{
	height: 107px
}
.step-3-active #pin1 .guide{
	height: 92px
}
.step-4-active #pin1 .guide{
	height: 77px
}
.step-5-active #pin1 .guide{
	height: 61px
}
.step-6-active #pin1 .guide{
	height: 46px
}
.step-7-active #pin1 .guide{
	height: 30px
}
.step-8-active #pin1 .guide{
	height: 14px
}
.step-9-active #pin1 .guide{
	height: 0px
}
.step-1-active #pin2 .guide{
	height: 139px
}
.step-2-active #pin2 .guide{
	height: 124px
}
.step-3-active #pin2 .guide{
	height: 109px
}
.step-4-active #pin2 .guide{
	height: 99px
}
.step-5-active #pin2 .guide{
	height: 78px
}
.step-6-active #pin2 .guide{
	height: 63px
}
.step-7-active #pin2 .guide{
	height: 47px
}
.step-8-active #pin2 .guide{
	height: 31px
}
.step-9-active #pin2 .guide{
	height: 15px
}
.step-1-active #pin3 .guide{
	height: 158px
}
.step-2-active #pin3 .guide{
	height: 142px
}
.step-3-active #pin3 .guide{
	height: 127px
}
.step-4-active #pin3 .guide{
	height: 112px
}
.step-5-active #pin3 .guide{
	height: 96px
}
.step-6-active #pin3 .guide{
	height: 81px
}
.step-7-active #pin3 .guide{
	height: 65px
}
.step-8-active #pin3 .guide{
	height: 49px
}
.step-9-active #pin3 .guide{
	height: 34px
}
.step-1-active  .step-icon{
	top:170px;
}
.step-2-active  .step-icon{
	top:154px;
}
.step-3-active  .step-icon{
	top:138px;
}
.step-4-active  .step-icon{
	top:123px;
}
.step-5-active  .step-icon{
	top:107px;
}
.step-6-active  .step-icon{
	top:92px;
}
.step-7-active  .step-icon{
	top:76px;
}
.step-8-active  .step-icon{
	top:60px;
}
.step-9-active  .step-icon{
	top:44px;
}