
div, p, table, tr, th, td, img, object, h1, h2, h3 {
  font-family: 'Futura LT Light';
  font-weight: normal;
  font-size: 12px;
  text-rendering:  geometricPrecision;
  border: 0 none;
  margin: 0;
  padding: 0;
}

svg { display: block; }

em {
  color: #4D525A;
  font-family: 'Futura LT Book';
  font-weight: bold;
  font-style: normal;
}

body {
  border:0;
  margin:0;
  color:#000000;
  background-color:white;
}

ul {
  padding-left:18pt;
}
li {
  padding-right: 6pt;
}

a {
  color: black;
}

a img {
  border:none;
}


div#coverPage {
  position: relative;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  height: 1073px;
  background-color: #FFD200;
  border: 1px solid #A7A9AC;
}

div#coverPage p#copyright {
  position:absolute;
  bottom: 14px;
  left: 30px;
}

div#coverGraphic {
  background-image: url(shell_cover_all.svg);
  background-repeat:no-repeat;
  height: 410pt;
  margin-left: 0px;
  margin-top: 150px;
  text-align: left;
}

div#coverCopy {
  padding-top: 140px;
  padding-left: 145px;
}

div#coverCopy .label {
  font-family: 'Futura LT Book';
  font-weight: bold;
  font-size: 24pt;
  color: #D42E12;
  text-transform: uppercase;
  margin-bottom: 8px;
}

div#coverCopy .type {
  font-size: 19pt;
  color: #58595B;
  text-transform: uppercase;
}

div#coverCopy .participant {
  font-family: 'Futura LT Book';
  font-weight: bold;
  font-size: 15pt;
  color: #58595B;
  margin-top: 20px;
}

div#coverCopy .date {
  font-size: 12pt;
  color: #58595B;
  margin-top: 8px;
}

div#coverCopy .icons {
  margin-top: 50px;
}

#reportName {
  overflow:hidden;
  width: 100%;
}
#reportName p {
  font-size: 14pt;
  color: rgb(33,88,104);
}

.overall_comments,
.explanation,
.competency {
  padding-left: 24px;
  padding-right: 24px;
}

.overall_comments,
.suggestions, 
.explanation {
  page-break-before: always;
  padding-top: 1pt;

}

.overall_comments h2,
.explanation h2 {
  font-family: 'Futura LT Book';
  font-weight: bold;
  font-size: 14pt;
  padding-bottom: 6px;
  border-bottom: 1px solid rgb(210,210,210);
  color: #58595b;
  text-transform: capitalize;
}

.overall_comments p,
  margin-top: 12px;
}

.container {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.competency {
  padding-top: 1pt;
  page-break-before: always;
  clear:both;
}

.header {
  width: 100%;
  overflow:hidden;
  padding-bottom: 4px;
  border-bottom: 1px solid rgb(210,210,210);
}


.header .label {
  position: relative;
  float: left;
  width: 200pt;
  height: 40px;
  background-repeat:no-repeat;
  background-position: left center; 
  padding-left: 50px;
}

.header .label h2 {
  font-family: 'Futura LT Book';
  font-weight: bold;
  font-size: 14pt;
  color: #58595b;
  text-transform: capitalize;
  position: absolute;
  bottom: 6px;
}


#authenticity .header .label {
  background-image: url(shell_attribute_01-authenticity.svg);
}

#growth .header .label {
  background-image: url(shell_attribute_02-growth.svg);
}

#collaboration .header .label {
  background-image: url(shell_attribute_03-collaborative.svg);
}

#performance .header .label {
  background-image: url(shell_attribute_04-performance.svg);
}

.competency .header .scoreBar {
  padding-top: 10px;
  float: right;

}
.competency .header .scoreBar h3 {
  float: left;
  padding: 5pt;
  color: #58595b;
  text-transform: capitalize;
}

.competency .header .scoreBar p {
  padding: 2pt 9pt;
  margin: 1pt 2pt 1pt 1pt;
  float: left;
  background-color: rgb(210,210,210);
  color: rgb(210,210,210);
}

div.scoreBar.novice .s1 {
  background-color: #D42E12;
  color: #D42E12;
}

div.scoreBar.intermediate .s1,
div.scoreBar.intermediate .s2 {
  background-color: #D42E12;
  color: #D42E12;
}

div.scoreBar.solid .s1,
div.scoreBar.solid .s2,
div.scoreBar.solid .s3 {
  background-color: #F7D117;
  color: #F7D117;
}

div.scoreBar.strong .s1,
div.scoreBar.strong .s2,
div.scoreBar.strong .s3,
div.scoreBar.strong .s4 {
  background-color: #79C14E;
  color: #79C14E;
}

div.scoreBar.excellent .s1,
div.scoreBar.excellent .s2,
div.scoreBar.excellent .s3,
div.scoreBar.excellent .s4,
div.scoreBar.excellent .s5 {
  background-color: #00824A;
  color: #00824A;
}


.competency table {
  margin-top: 8pt;
  width: 100%;

}

.competency table thead tr td {
  vertical-align: bottom;
  text-transform: capitalize;
  text-align: left;
  color: #58595b;
}

.competency table thead tr td p {
  font-family: 'Futura LT Book';
  font-weight: bold;
  font-size: 9pt;
  margin-left: 10px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgb(210,210,210);
}

.competency table thead tr td:first-child p {
  margin-left: 0;
}


.competency table tbody tr td {
  vertical-align:top;
  padding: 2px;
}

/*
.competency table tr td ul {

}

.competency table tr td ul li {
  list-style-type:square;
  font-size: 9pt;
}
*/

/*
http://stackoverflow.com/questions/5306640/how-to-define-the-color-of-bullets-in-ul-li-lists-via-css-without-using-any-im
*/

.competency table tbody tr td ul,
.suggestions ul {
  list-style: none;
  padding:0;
  margin:0;
}

.competency table tbody tr td ul li {
  margin-top: .4em;
  line-height: 1.4em;
  padding-left: 1.8em; 
  text-indent: -1em;
}

.competency table tbody tr td:first-child ul li {
  padding-left: 1em; 
}

.suggestions ul li { 
  margin-top: .6em;
  line-height: 1.4em;
  padding-left: 1.2em; 
  text-indent: -1em;
}

.competency table tr td ul li:before,
.suggestions ul li:before {
  content: '\25A0 \a0';
  font-family: 'Arial Black';
  color: #58595b;
}

.comments {
  margin-top: 10pt;
}

.explanation > h3, .competency > h3 {
  font-size: 11pt;
  font-family: 'Futura LT Book';
  font-weight: bold;
  color: #4D525A;
  padding-top: 12px;
  padding-bottom: 4px;
}

.comments h3 {
  font-size: 11pt;
  font-family: 'Futura LT Book';
  font-weight: bold;
  color: #4D525A;
  padding-top: 12px;
  padding-bottom: 4px;
  text-transform: capitalize;
}

/* todo: eliminate replication */
.sectionhead {
  font-size: 11pt;
  font-family: 'Futura LT Book';
  font-weight: bold;
  color: #4D525A;
  padding-top: 20px;
  padding-bottom: 0px;
  text-transform: capitalize;	
}

.comments p {
  line-height: 1.6em;
}

/* still needed?? */
.comments p span {
  letter-spacing: normal !important;
}

.suggestions {
/*  margin-top: 20pt; */
}

.suggestions h3 {
  font-size: 11pt;
  color: #4D525A;
  font-family: 'Futura LT Book';
  font-weight: bold;
  text-transform: capitalize;
  padding-top: 12px;
  padding-bottom: 4px;

}


/*
Header styles
*/

#header {
  margin-top: 40pt;
  height: 220px;
}

#header #header_content {
  width:100%;
  background-color:#f7d117;
  clear:both;
  overflow:hidden;
}

#header #header_content #left {
  float:left;
  padding-top: 80px;
  padding-left: 30px;
  padding-bottom: 16px;
}

#header #header_content #left p {
  font-family: 'Futura LT Book';
  font-weight: bold;
  font-size: 18pt;
  color: #D42E12;
  text-transform: uppercase;
}

#header #header_content #right {
  float: right;
  text-align: right;
  width: 200px;
  padding-top: 16px;
  padding-right: 30px;
}

#header #header_content #right p {
  font-size: 10pt;
  color: #58595B;
}

#header #header_content #right p .Participant {
  font-family: 'Futura LT Book'; 
  font-weight: bold;
}
#header #header_content #right p .Gendate {
  font-family: 'Futura LT Light';
}

/*
 Footer styles
*/

#footer {
  height: 145px; /* should equal page bottom margin */
  position: relative;
}

#footer #footer_content {
  height: 60px;
  background-color:#DDDDDD;
  position:absolute;
  bottom: 60px; /* should equal desired visual bottom margin */
  width: 100%;
  clear:both;
  overflow:hidden;
}

#footer p#copyright {
  float: left;
  font-size: 8pt;
  padding-top: 22px;
  padding-left: 30px;
  font-family: 'Futura LT Light';
  color: #58595B;
}

#footer p#pageinfo {
  float:right;
  text-align:right;
  width: 40px;
  font-size: 11pt;
  padding-top: 20px;
  padding-right: 30px;
  font-family: 'Futura LT Book';
  color: #58595B;
  font-weight: bold;
}

/* Font tests */

#font_test {
  margin-left: 20px;
  font-size: 18pt;
}

#font_test p {
  padding-top: 4px;
  padding-bottom: 4px;
}

#font_test h1 {
  font-weight: normal;
  font-size: 22pt;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* families */

#font_test .futura {
  font-family: 'Futura LT';
}
#font_test .futura_normal {
  font-family: 'Futura LT';
  font-weight: normal;
}
#font_test .futura_light2 {
  font-family: 'Futura LT';
  font-weight: light;
}
#font_test .futura_light {
  font-family: 'Futura LT Light';
}
#font_test .futura_medium {
  font-family: 'Futura LT Medium';
}
#font_test .futura_book {
  font-family: 'Futura LT Book';
}

/* styles */

#font_test .book {
  font-family: 'Futura LT Book';
}

#font_test .book_bold {
  font-family: 'Futura LT Book';
  font-weight: bold;
}

#font_test .book_upper {
  text-transform: uppercase;
  font-family: 'Futura LT Book';
}

#font_test .book_upper_bold {
  text-transform: uppercase;
  font-family: 'Futura LT Book';
  font-weight: bold;
}


#font_test .light {
  font-family: 'Futura LT Light';
}

#font_test .light_upper {
  text-transform: uppercase;
  font-family: 'Futura LT Light';
}

#font_test .light_italic {
  font-family: 'Futura LT Light';
  font-style: italic;
}

#font_test .light_upper_italic {
  text-transform: uppercase;
  font-family: 'Futura LT Light';
  font-style: italic;
}


#font_test .medium {
  font-family: 'Futura LT Medium';
}

#font_test .medium_upper {
  text-transform: uppercase;
  font-family: 'Futura LT Medium';
}

#font_test .medium_italic {
  font-family: 'Futura LT Medium';
  font-style: italic;
}

#font_test .medium_upper_italic {
  text-transform: uppercase;
  font-family: 'Futura LT Medium';
  font-style: italic;
}


.beAware {
  margin-top: 20pt;
  font-style: italic;
}