@import
	url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700);
.rotate {

/* Safari */
-webkit-transform: rotate(-70deg);

/* Firefox */
-moz-transform: rotate(-70deg);

/* IE */
-ms-transform: rotate(-70deg);

/* Opera */
-o-transform: rotate(-70deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
span,div,ul,p,table,tr,th,td,img,object,h1,h2,h3,h4,h5 {
	/*font-family: 'Arial Unicode MS'; */
	/* font-family: "Arial Unicode MS"; */
	font-weight: 300;
	font-size: 14px;
	text-rendering: geometricPrecision;
	border: 0 none;
	margin: 0;
	padding: 0;
	color:#231f20 !important;
}

table,tr,th,td {
	vertical-align: top;
}

ul {
	list-style: disc outside none;
	padding-left: 24px !important;
	page-break-inside: avoid;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}

table td {
	/*word-wrap: break-word;
	word-break: hyphenate;*/
	vertical-align: middle;
}

div.section {
	page-break-before: always;
	padding-left: 0px;
	padding-right: 0px;
}
.table-footnote{
	font-size:12px;
	text-align:right;
}
.section p {
	margin-top: 0;
}

div#coverPage p#brandBanner {
	background-color: #007C8B;
	background-image: url(../../../core/svg/pdinh_logo.svg);
	background-repeat: no-repeat;
	background-position: 85px 200px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	height: 300px;
}

#header #header_content {
	width: 100%;
	background-color: #007C8B;
	clear: both;
	overflow: hidden;
}
#header {
  margin-top: 0px;
  height: 102px;
}
.no-wrap{
	white-space: nowrap;
}
/* INVISIBLE HEADER (content of h1 are used by wkhtmltopdf in the header */
h1 {
	position: relative;
	/* had bad results with absolute with wkhtmltopdf header section */
	font-size:11px !important;
	height:2px;/* less than 2px seems to break wkhtmltopdf header section label. */
	right: 900px; z-index : 1;
	/*left:-800px;*/
	color: red !important;
	font-style: normal !important;
	font-weight: normal !important;
	text-decoration: none !important;
	font-size: 24px !important;
	z-index: 1;
}

.header-h1-right {
	position: absolute;
	right: 40px;
	top: 25px;
	z-index: 99;
	color: #FFF !important;
	font-size: 24px;
}

h2 {
	color: #231f20 !important;
	font-style: normal !important;
	text-decoration: none !important;
	font-size: 16px !important;
	margin-bottom: .5em !important;
}

h3 {
	color: #231f20 !important;
	font-style: normal !important;
	text-decoration: none !important;
	font-size: 14px !important;
	font-weight: bold !important;
}

h4 {
	font-weight: bold;
}

.a {
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 12px;
}

.avoid-break {
	page-break-inside: avoid;
}

li {
	padding: 0;
}

table.iScores {
	table-layout: auto !important;
	font-size: 13px;
}

table.iScores td {
	text-align: center;
	position: relative;
	padding: 5px 3px;
	border: 1px #231f20 solid;
}

table.iScores th {
	letter-spacing: 0.1px;
	border: 1px #231f20 solid;
	text-align: center;
	padding: 3px;
	font-weight: bold;
/* 	hyphens do NOT work in most browsers and with wkhtmltopdf */
/* 	hyphens need to be placed in the content */
/*  &shy; works to create an optional breakpoint (without a hyphen) */
/* 	-webkit-hyphens: auto; */
/*      -moz-hyphens: auto; */
/*           hyphens: auto; */
}

.column-1 {
	text-align: left !important;
	vertical-align: middle;
	/*white-space: nowrap;*/
}
.column-1 span{
	overflow: hidden;
	display: block;
	width:240px;
	height:2.5em;
	
	-ms-word-break: break-all;
     word-break: break-all;

	/* Non standard for webkit */
     word-break: break-word;

	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	    -ms-hyphens: auto;
	        hyphens: auto;
}

.data-column-wide {
	width: 75px;
}

.average-label {
	font-weight: bold;
}

.data-column-narrow {
	width: 68px;
}

.col-2-low {
	font-size: 10px;
	float: left;
}

.col-2-high {
	font-size: 10px;
	float: right;
}

.conf-color-3 {
	background: red !important;
}

.conf-color-1 {
	background: green !important;
}

.conf-color-2 {
	background: yellow !important;
}
/* viaEDGE summary report specific */
.container {
	width: 100%;
	display: block;
	overflow: visible;
}

div.section.intro {
	page-break-before: auto;
}

.sectionname {
	color: #FFF !important;;
	font-weight: 700;;
	font-size: 24px;
	position: absolute;
	top: 10px;
	right: 10px;
}

#upperLeft {
	margin-top: 40px !important;
}

.participant {
	font-size: 17px;
	margin-bottom: 0.05in;
}

hr {
	color: #231f20 !important;
	background-color: #231f20 !important;
}

.reportserial {
	color: #a9a9a9 !important;
	font-size: 10px;
	letter-spacing: 1px;
}

.reportdate {
	font-size: 12px;
	margin-bottom: 0.08in;
}

.reportname {
	font-size: 36px;
	line-height:1;
}

.fullname {
	margin-top: 50px;
	margin-bottom: 10px;
	font-size: 18px;
}

.trait-grid-cell {
	height: 35px;
	border-bottom: #231f20 2px solid;
	border-left: #231f20 2px solid;;
	border-top: #231f20 2px solid;
}

.trait-grid-cell-last {
	border-right: #231f20 2px solid;
}

.trait-grid-mental {
	background-color: #8a9e68;
}

.trait-grid-people {
	background-color: #7ca3a7;
}

.trait-grid-change {
	background-color: #a6a591;
}

.trait-grid-results {
	background-color: #d7d7d7;
}

.trait-grid-selfAware {
	background-color: #c0937e;
}

.agility-topic { /*float:left;*/
	display: block;
	width: 100%;
	color: #231f20 !important;;
}

.icon-result {
	width: 25px;
	height: 25px;
}

.scale-td {
	width: 33.3%;
	text-align: center;
	padding-top: 1px;
}

.trait-heading {
	font-size: 1.2em;
	line-height: 30px;
	font-weight: 700;
}

.trait-low-div {
	float: left;
	clear: left;
	width: 30%;
	height: 50px;
	text-align: right;
}

.trait-span {
	padding: 6px;
	float: right;
	font-weight: 200;
}

.trait-span-right {
	padding: 6px;
	float: left;
	font-weight: 200;
}

.trait-chart-div {
	float: left;
	position: relative;
	height: 50px;
	width: 269px;
}

.trait-high-div {
	float: left;
	clear: right;
	width: 30%;
	height: 50px;
}

.trait-nar-div {
	padding-top: 8px;
	width: 100%;
	display: block;
	clear: both;
	font-weight: 200;
}

.sub-section-hr {
	margin-top: 5px;
	margin-bottom: 5px;
	border: 0;
	color: #a9a9a9 !important;;
	background-color: #a9a9a9;
	height: 1px;
}
/* ABOVE IS FROM IND SUM REPORT */
/* GROUP FEEDBACK STUFF BELOW*/
#wrapper {
	page-break-inside:avoid;
	height: 385px;
	margin: 0 auto;
	position: relative;
	width: 540px;
}

#figure {
	height: 280px;
	position: relative;
}

#figure ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.graph {
	height: 305px;
	position: relative;
}

.intro-li {
	list-style: circle inside;
}

.x-axis {
	bottom: 25px;
	color: #555555 !important;;
	position: absolute;
	text-align: center;
	width: 540px;
}

.x-axis li {
	float: left;
	padding: 15px 0;
	width: 54px;
}

.x-axis li.key-offset {
	padding: 0;
}

.y-axis {
	color: #555555 !important;;
	position: absolute;
	text-align: right;
	width: 100%;
}

.y-axis li {
	border-top: 1px solid #CCCCCC;
	display: block;
	height: 45px;
	width: 100%;
}

.y-axis li span {
	display: block;
	margin: -10px 0 0 -60px;
	padding: 0 10px;
	width: 8%;
}

.even td,.even th {
	background-color: #d3d3d3;
}

.tfooter td {
	background-color: #a9a9a9;
}

.bars {
	height: 228px;
	position: absolute;
	left: 24px;
	width: 100%;
	z-index: 10;
}

.bar-group {
	float: left;
	height: 100%;
	margin: 0 15px;
	position: relative;
	top:2px;
	width: 24px;
}

.bar { /*border-radius: 3px 3px 0 0;*/
	bottom: 0 !important;
	top:auto !important;
	cursor: pointer;
	height: 0;
	position: absolute;
	text-align: center;
	width: 24px;
	border: 1px solid #999;
}

.bar.fig0 {
	left: 0;
	bottom: -1px;
	background-color: #396;
}

.bar.fig1 {
	left: 26px;
}

.bar.fig2 {
	left: 52px;
}
.pScaleBar{
	top:22px !important;
}
.keysLabel{
	text-align:center;
}
.summary-footnote{
	text-align:center;
	background:#231f20;
	color:#FFF !important;
	font-size:12px !important;
	padding:4px;
	clear:both;
}
.bar span {
	display: none;
	left: -8px;
	margin: 0;
	position: relative;
	/*text-shadow: 0px 0px 12px #FFF;*/
	width: 40px;
	z-index: 20;
}

.bar span {
	display: block;
	margin-top: -20px;
}
.p-adj-summary-bar-3-1 {
	background-color: #59b3a7;
	background: url(images/overall-bar-3.png);
	background-repeat: repeat-y !important;
}

.p-adj-summary-bar-3-2 {
	background: #839761; /* Old browsers */
	background: -webkit-gradient(linear, left top, right top, color-stop(48%,#839761), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	
/* 	background: #839761 !important; */
/* 	background-image: url("images/mental-bar-3.png") !important; */
/* 	background-repeat: repeat-y !important; */
/* 	background-position: left top; */
}

.p-adj-summary-bar-3-3 {
	background-color: #5b8e95 !important;
	background: url(images/people-bar-3.png) !important;
	background-repeat: repeat-y !important;
}

.p-adj-summary-bar-3-4 {
	background-color: #95947b !important;
	background: url(images/change-bar-3.png) !important;
	background-repeat: repeat-y !important;
}

.p-adj-summary-bar-3-5 {
	background-color: #bdbdbd !important;
	background: url(images/results-bar-3.png) !important;
	background-repeat: repeat-y !important;
}

.p-adj-summary-bar-3-6 {
	background-color: #be8e73 !important;
	background: url(images/self-aware-bar-3.png) !important;
	background-repeat: repeat-y !important;
}

.summary-score-bar-2 {
	border: 1px solid #111;
}

.x-axis-title {
	text-align: center;
	position: absolute;
	bottom: 20px;
	width: 100%
}

.y-axis-title {
	position: absolute;
	bottom: 175px;
	left: -200px;
	width: 305px;
	text-align: center;
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3 );
}

.chart-title {
	text-align: center;
	clear:both;
	margin-bottom: 0 !important;
}
.score-offset span{
	top:7px;
}
.score-offset-overview span{
	left:24px;
}
.bar-zero {
	visibility: hidden;
}
sup { 
	vertical-align: top; 
	font-size: 0.6em; 
	position: relative; 
	top: -0.4em;
}

/* 	below overrides coaching because of line height and checkbox -- they didn't work like they did in coaching  */
.scale-list-quad ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top:2px;
}
.scale-list-quad ul li {
    background-image: url("images/chkbx.png");
    background-position: 0 3px;
    background-repeat: no-repeat;
    font-weight: normal !important;
    line-height: 1;
    padding-left: 14px;
    padding-bottom: 3px;
    font-size:12px;
}

.copyright {
	padding-left: 10px !important;
}