/**
 * @license
 * MyFonts Webfont Build ID 2812828, 2014-05-15T22:15:53-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Proxima Nova Black by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/black/
 * Licensed pageviews: 21,000,000
 * 
 * Webfont: Proxima Nova Italic by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/regular-it/
 * Licensed pageviews: 11,000,000
 * 
 * Webfont: Proxima Nova Black Italic by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/black-it/
 * Licensed pageviews: 11,000,000
 * 
 * Webfont: Proxima Nova Bold Italic by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/bold-it/
 * Licensed pageviews: 11,000,000
 * 
 * Webfont: Proxima Nova Regular by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/regular/
 * Licensed pageviews: 21,000,000
 * 
 * Webfont: Proxima Nova Bold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/bold/
 * Licensed pageviews: 21,000,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2812828
 * Webfonts copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
 * 
 * © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2aeb9c");

  
@font-face {font-family: 'ProximaNova-Black';src: url('webfonts/2AEB9C_0_0.eot');src: url('webfonts/2AEB9C_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2AEB9C_0_0.woff') format('woff'),url('webfonts/2AEB9C_0_0.ttf') format('truetype'),url('webfonts/2AEB9C_0_0.svg#wf') format('svg');}
 
  
@font-face {font-family: 'ProximaNova-RegularIt';src: url('webfonts/2AEB9C_1_0.eot');src: url('webfonts/2AEB9C_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2AEB9C_1_0.woff') format('woff'),url('webfonts/2AEB9C_1_0.ttf') format('truetype'),url('webfonts/2AEB9C_1_0.svg#wf') format('svg');}
 
  
@font-face {font-family: 'ProximaNova-BlackIt';src: url('webfonts/2AEB9C_2_0.eot');src: url('webfonts/2AEB9C_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2AEB9C_2_0.woff') format('woff'),url('webfonts/2AEB9C_2_0.ttf') format('truetype'),url('webfonts/2AEB9C_2_0.svg#wf') format('svg');}
 
  
@font-face {font-family: 'ProximaNova-BoldIt';src: url('webfonts/2AEB9C_3_0.eot');src: url('webfonts/2AEB9C_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2AEB9C_3_0.woff') format('woff'),url('webfonts/2AEB9C_3_0.ttf') format('truetype'),url('webfonts/2AEB9C_3_0.svg#wf') format('svg');}
 
  
@font-face {font-family: 'ProximaNova-Regular';src: url('webfonts/2AEB9C_4_0.eot');src: url('webfonts/2AEB9C_4_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2AEB9C_4_0.woff') format('woff'),url('webfonts/2AEB9C_4_0.ttf') format('truetype'),url('webfonts/2AEB9C_4_0.svg#wf') format('svg');}
 
  
@font-face {font-family: 'ProximaNova-Bold';src: url('webfonts/2AEB9C_5_0.eot');src: url('webfonts/2AEB9C_5_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2AEB9C_5_0.woff') format('woff'),url('webfonts/2AEB9C_5_0.ttf') format('truetype'),url('webfonts/2AEB9C_5_0.svg#wf') format('svg');}
 