
body {
  font-family: 'Arial Unicode MS';
}
h1, h2, h3, h4, h5 {
	page-break-after:avoid;
}
div, ul, p, table, tr, th, td, img, object, h1, h2, h3, h4, h5 {
  font-family: "Arial Unicode MS";
  font-weight: normal;
  font-size: 12px;
  text-rendering:  geometricPrecision;
  border: 0 none;
  margin: 0;
  padding: 0;
}
p, span, li{
	line-height:16px;
}
form table td {
  padding: 2px;
}

input, textarea {
  font-family: 'Arial Unicode MS'; 
}

svg { display: block; }



body {
  border:0;
  margin:0;
  color:#000000;
  background-color:white;
}

ul {
  padding-left:18pt;
  page-break-inside:avoid;
}

li {
/*  padding-right: 6pt; */
  padding-top: .4em;
}

li > ul {
  list-style-type:square;
}

a {
  color: black;
}

a img {
  border:none;
}

/* report cover page */

div#coverPage {
  position: relative;
  margin-top: 0px;

}

div#coverPage p#brandBanner {

  background-color: #AA9C8F;
  background-image: url(../svg/pdinh_logo_lva.svg);
  background-repeat: no-repeat;
  background-position: 85px 200px;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 300px;

}

div#coverPage div#coverCopy {
  position: relative;
  height: 668px;
  border: 2px solid #D6D2CA;
  margin-top: 3px;
  margin-bottom: 3px;
}

div#upperLeft {
  margin-top: 65px;
  margin-left: 85px;
  width: 630px;
}

div#coverCopy .product {
  font-weight: bold;
  font-size: 12pt;
  color: #675C53;
  margin-bottom: 8px;
}

div#coverCopy .reportname {
  font-size: 30pt;
  color: #22505F;
  margin-bottom: 8px;
  margin-left:-2px;
  line-height: 1.0;
}

div#coverCopy .reportsubhead {
  font-size: 16pt;
  color: #007A87;
}

div#lowerRight {
  position:absolute;
  bottom: 50px;
  left: 420px;
}

div#lowerRight p.label {
  font-size: 8pt;
  color: #675C53;
  text-transform: uppercase;
}

div#lowerRight p.value {
  font-size: 12pt;
  color: #007A87;
  margin-bottom: 10px;
}

div#coverPage #copyright {
  background-color: #22505F;
  height: 27px;
}

div#coverPage #copyright p {
  font-weight: normal;
  padding-top: 9px;
  padding-left: 18px;
  font-size: 9px;
  color: #FFFFFF;
}

div#coverPage .blue {
  background-color: #22505F;
}



/* report body */
.group{
	page-break-inside:avoid; 
	/* to view groups on screen, use below: */
	/*border:blue solid 1px; margin:2px;*/
}
div.section {
  page-break-before: auto;
  padding-left: 34px;
  padding-right: 34px;
}

div.section.about {
  page-break-before: auto;
}

h1 {
  color: #22505F;
  margin-top: 4px;
  margin-bottom: .2em;
  font-size: 16pt;
  font-weight: normal;
  clear: left;
}

h2 {
  color: rgb(0,124,139) !important;
  margin-top: .7em!important;
  margin-bottom: 0!important;
  font-size: 13pt!important;
  font-weight: bold!important;
}

h3 {
  color: rgb(76,54,29);
  margin-top: .4em;
  margin-bottom: 0;
  font-size: 11pt;
  font-weight: bold;
}


h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 9pt;
  font-weight: bold;
}



.section p {
  margin-top: .4em;
}

div.superfactors,
div.characteristics {
  overflow: hidden;
  clear:both;
}

.superfactors h2 {
  font-size: 10pt;
  margin-top: 14px;
  margin-bottom: 8px;
}

div.superfactors .leftcol,
div.characteristics .leftcol {
  float: left;
  width: 330px;
  padding-right: 40px;
}

div.superfactors .rightcol,
div.characteristics .rightcol {
  float: left;
  width: 330px;
}
div.competency {
  margin-top: 6px;
  overflow: hidden;
  clear:both;
}

div.competency p.label {
  color: rgb(94,81,78);
  font-size: 8pt;
  font-weight: bold;
  float:left;
  width: 176px;
  padding-right:4px;
}

div.competency div.bar {
  overflow: hidden;
  position: relative;
  left:0px;
  top:3px;
}

div.bar p.square {
  float: left;
  font-size: 8px;
  width: 15px;
  height: 13px;
/*  border-right: 2px solid rgb(207,203,198); */
  background-color: rgb(207,203,198);
  margin-bottom: 0;
}

div.bar p.spacers {
  position: relative;
}

div.bar p.spacer {
  position: absolute;
  top:-1px;
  width: 1px;
  height: 14px;
  background-color: rgb(207,203,198);
}

div.bar p.s1 {
  left:14px;
}
div.bar p.s2 {
  left:29px;
}
div.bar p.s3 {
  left:44px;
}
div.bar p.s4 {
  left:59px;
}
div.bar p.s5 {
  left:74px;
}
div.bar p.s6 {
  left:89px;
}
div.bar p.s7 {
  left:104px;
}
div.bar p.s8 {
  left:119px;
}
div.bar p.s9 {
  left:134px;
}

/* Bar logic */

.v423 div.bar .s4,
.v423 div.bar .s6 {
  background-color: white;
}

.v36 div.bar .s3 {
  background-color: white;
}

.v252 div.bar .s2,
.v252 div.bar .s7 {
  background-color: white;
}

.v351 div.bar .s3,
.v351 div.bar .s8 {
  background-color: white;
}

.v333 div.bar .s3,
.v333 div.bar .s6 {
  background-color: white;
}

.v81 div.bar .s8 {
  background-color: white;
}


/*
ind orange 245,123,43
ind yellow 254,184,17
ind green 138,139,22
ind blue 1,89,152
*/

/*
p.square.p1 {
  background-color: rgb(245,123,43) !important;
}
*/

.rating.v10 p.square.p1,
.rating.v15 p.square.p2,
.rating.v20 p.square.p3,
.rating.v25 p.square.p4 {
  background-color: rgb(245,123,43);
}

.rating.v30 p.square.p5 {
  background-color: rgb(254,184,17);
}
.rating.v35 p.square.p6 {
  background-color: rgb(138,139,22);
}

.rating.v40 p.square.p7,
.rating.v45 p.square.p8,
.rating.v50 p.square.p9 {
  background-color: rgb(1,89,152);
}

.v36 .stanine.v1 p.square.p1 {
  background-color: rgb(245,123,43);
}
.v36 .stanine.v2 p.square.p2,
.v36 .stanine.v3 p.square.p3 {
  background-color: rgb(254,184,17);
}
.v36 .stanine.v4 p.square.p4,
.v36 .stanine.v5 p.square.p5,
.v36 .stanine.v6 p.square.p6,
.v36 .stanine.v7 p.square.p7,
.v36 .stanine.v8 p.square.p8,
.v36 .stanine.v9 p.square.p9 {
  background-color: rgb(138,139,22);
}

.v252 .stanine.v1 p.square.p1,
.v252 .stanine.v9 p.square.p9 {
  background-color: rgb(245,123,43);
}

/*
  Note that characteristic "Problem Solving" is colored differently 
*/
.v252 .stanine.v2 p.square.p2,
.v252 .stanine.v8 p.square.p8,
.v252.Problem_Solving .stanine.v9 p.square.p9 {
  background-color: rgb(254,184,17);
}
.v252 .stanine.v3 p.square.p3,
.v252 .stanine.v4 p.square.p4,
.v252 .stanine.v5 p.square.p5,
.v252 .stanine.v6 p.square.p6,
.v252 .stanine.v7 p.square.p7 {
  background-color: rgb(138,139,22);
}

.v351 .stanine.v1 p.square.p1,
.v351 .stanine.v2 p.square.p2,
.v351 .stanine.v3 p.square.p3,
.v351 .stanine.v9 p.square.p9 {
  background-color: rgb(254,184,17);
}
.v351 .stanine.v4 p.square.p4,
.v351 .stanine.v5 p.square.p5,
.v351 .stanine.v6 p.square.p6,
.v351 .stanine.v7 p.square.p7,
.v351 .stanine.v8 p.square.p8 {
  background-color: rgb(138,139,22);
}

.v333 .stanine.v1 p.square.p1,
.v333 .stanine.v2 p.square.p2,
.v333 .stanine.v3 p.square.p3,
.v333 .stanine.v7 p.square.p7,
.v333 .stanine.v8 p.square.p8,
.v333 .stanine.v9 p.square.p9 {
  background-color: rgb(254,184,17);
}

.v333 .stanine.v4 p.square.p4,
.v333 .stanine.v5 p.square.p5,
.v333 .stanine.v6 p.square.p6 {
  background-color: rgb(138,139,22);
}

.v81 .stanine.v1 p.square.p1,
.v81 .stanine.v2 p.square.p2,
.v81 .stanine.v3 p.square.p3,
.v81 .stanine.v4 p.square.p4,
.v81 .stanine.v5 p.square.p5,
.v81 .stanine.v6 p.square.p6,
.v81 .stanine.v7 p.square.p7,
.v81 .stanine.v8 p.square.p8 {
  background-color: rgb(138,139,22);
}

.v81 .stanine.v9 p.square.p9 {
  background-color: rgb(245,123,43);
}


/*
.devSug h3 {
  margin-top: .4em !important;
}

.devSug h4 {
  margin-top: .8em !important;
}
*/

.section .devSug p {
  margin-top: .1em;
}

.section .devSug li {
  padding-top: 4px;
}


.page {
  page-break-before: always;
}


.devSug h1 {
  margin-top: .6em;
  padding-top: 3px;
  border-top: 1px solid #22505F;
}

.devSug.page h1 {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}


/* end: Bar logic */

.strengths {
  margin-top: 20px;
}

.strengths p,
.needs p {
  margin-top: .4em;
  page-break-inside:avoid;
}

.strengths p em,
.needs p em {
  font-style: normal;
  font-weight: bold;
}


div.superfactors h4 {
  margin-top: 1.2em;
  margin-bottom: .4em;
}

div.iampad {
  margin-top: 1.5em;
}

div.twocol {
  overflow: hidden;
  clear:both;
}

div.subsection .leftcol,
div.subsection .rightcol {
  float: left;
  width: 335px;
}
div.subsection .leftcol {
  margin-right: 25px;
}

div.ratings h3 {
/*  margin-top: 1.6em; */
}

div.development .point .title {
  font-weight: bold;
}

div.development .point .link {
  margin-left: 14px;
}
.ialist li a{
	color:#007c8b;
}
.iaTitle {
	margin-top:20px !important;
	font-weight:bold;
}
/* devplan */


div.devplan {
}

div.planitem  {
  margin-top: 8px;
  margin-bottom: 20px;
}

div.planitem h3 {
  padding-left: 2px;
  padding-bottom: 2px;
  font-size: 10px;
}

div.planitem .row {
  overflow: hidden;
  clear:both;
}

div.planitem .row > div {
  float: left;
}

div.planitem .row > div .inputbox {
  border: 1px solid rgb(207,203,198);
  height: 85px;
}

div.planitem .row .pivdev {
  width: 295px;
}
div.planitem .row > div.descr .inputbox {
  width: 375px;
  border-left: none;
}

div.planitem .row .actions {
  width: 295px;
}
div.planitem .row > div.obstacles .inputbox {
  width: 290px;
  border-left: none;
}
div.planitem .row > div.dates .inputbox {
  width: 85px;
  border-left: none;
}

/* summary */

.summary p em {
  font-weight: bold;
}


/* appendix */

.appendix .pagebreak {
  page-break-before: always;
}

.appendix .pagebreak h2 {
  margin-top: 0;
}

.appendix .subsection {
  clear: both;
  overflow: hidden;
  font-size: 6px;
  padding-top: 1px;
  margin-top: 16px;
  border-top: .2em solid rgb(204,231,242);
}

.appendix .subsection > p {
  margin-top: .1em;
  margin-bottom: .1em;
}

.appendix .twocol p {
  margin-top: .1em;
}

.appendix h2 {
  margin-top: 1px;
}

.appendix h3 {
  color: rgb(0,124,139);
}

.appendix h4 {
  margin-top: .4em;
}



/*
Header styles
*/

#header {
  margin-top: 5px;
  height: 138px;
  /* debug margins
  background-color:blue;
  border: 1px solid red;
  */
}

#header #header_content {
  width:100%;
  background-color:#AA9C8F;
  height:110px;
  clear:both;
  overflow:hidden;
}

#header #header_content #left {
  float:left;
  padding-top: 70px;
  padding-left: 40px;
  padding-bottom: 12px;
}

#header #header_content #left p {
  color: white;
  font-size: 20pt;
}

#header #header_content #right {
  float:right;
  text-align: right;
  width: 280px;
  padding-top: 10px;
  padding-right: 20px;
}

#header #header_content #right p {
  color: white;
}
#header #header_content #right p.participant {
  font-size: 10pt;
  font-weight: bold;
}
#header #header_content #right p.headerdate {
  font-size: 11pt;
}


/*
 Footer styles
*/


#footer {
/* debug: add this in when configuring footer and page margin geometry
  border: 1px solid red;
*/
  height: 56px;  /* should equal page bottom margin */
  position: relative;
}

#coverPage #footer {
  height: 43px;  /* should equal page bottom margin */
  position: relative;
}

#footer #footer_content {
  position: absolute;
  background-color: #22505F;
  color: #FFFFFF;
  height: 43px;
  bottom: 0px;
  width: 100%;
  clear:both;
  overflow:hidden;
  display: table-cell;
  vertical-align: middle;
}

#footer p#copyright {
  font-weight: normal;
  float:left;
  font-size: 9px;
  padding-top: 7px;
  padding-left: 18px;
}

#footer p#pageinfo {
  float:right;
  width: 40px;
  font-size: 12pt;
  padding-top: 10px;
  padding-right: 20px;
  font-weight: bold;
  text-align:right;
}


/* about section */

img#assessment_model {
  float:left;
  margin-right: 16px;
}

#legend {
  margin-left: 20px;
}

#legend div {
  padding-top: 5px;
  overflow: hidden;
  clear:both;
}

#legend div p.label {
  float: left;
  padding-left: 8px;
  padding-top: 2px;
  margin-top: 0;
}

#legend div p.box {
  text-indent: 100%;  
  white-space: nowrap;  
  overflow: hidden;
  float: left;
  width: 20px;
  height: 20px;
  margin-top: 0;
  background-color: rgb(207,203,198);
}

#legend div.blue p.box {
  background-color: rgb(1,89,152);
}
#legend div.green p.box {
  background-color: rgb(138,139,22);
}
#legend div.yellow p.box {
  background-color: rgb(254,184,17);
}
#legend div.orange p.box {
  background-color: rgb(245,123,43);
}



/* sections */

.textSections p,
#ratingLegend p {
  margin-top: .5em;
}

/* section summary */

.prefix,
.note {
  font-style:italic;
}

.readinessIndicators {
  margin-top:20px;
}


.model {
  padding-top: 5px;
  overflow: hidden;
  clear:both;
}

.model p {
  margin-top: 0;
}

.modelText {
  width: 644px;
  float: left;
  word-wrap: break-word;
}

.modelIcon {
  background-repeat: no-repeat;
  background-size: 0.417in 0.417in;
  text-indent: 100%;
  margin-right: 10px;
  white-space: nowrap;  
  overflow: hidden;
  float: left;
  width: 0.417in;
  height: 0.417in;
}
/* warning - using 300dpi images on background images will give larger results in IE7/8  * jira * NHN-2615*/
.modelIcon.experience {
  background-image: url(../png/assessment_model_experience.png);
}
.modelIcon.competencies {
  background-image: url(../png/assessment_model_competencies.png);
}
.modelIcon.interest {
  background-image: url(../png/assessment_model_interest.png);
}
.modelIcon.foundations {
  background-image: url(../png/assessment_model_foundations.png);
}
.modelIcon.derailers {
  background-image: url(../png/assessment_model_derailers.png);
}


/* ratings */
.sectionScore {
  margin-bottom: 8px;
}

.sectionScore span {
  font-size: 10px;
  padding: 2px 30px;
  color:white;
  font-weight:bold;
}

.sectionScore span.slightgap {
  background-color: rgb(254,184,17);
}

.sectionScore span.clearstrength {
  background-color: rgb(1,89,152);
}

.sectionScore span.strength {
  background-color: rgb(138,139,22);
}

.sectionScore span.substantialgap {
  background-color: rgb(245,123,43);
}



/* spread out read indicators */
.summary p img {
  padding: 2px;
}