/* placeholder until core css is made to have generic settings and this file has Coaching Development Plan specific settings */
table, tr, th, td {
  vertical-align:top;
}
table {border-collapse:collapse; table-layout:fixed; width:100%; border:0;}
table td , table th{word-wrap:break-word; word-break:keep-all}
.section p {
	margin-top:0;
}
.section {
	page-break-before: auto !important;
}
.statusb{
	page-break-before:always !important;
}
div#coverPage p#brandBanner {
	background-color: #007C8B;
	background-image: url(../../../core/svg/pdinh_logo.svg);
	background-repeat: no-repeat;
	background-position: 85px 200px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	height: 300px;
}
#header #header_content {
	width: 100%;
	background-color: #007C8B;
	clear: both;
	overflow: hidden;
}
.align-bottom-td td, .align-bottom-td{
	vertical-align:bottom;
}
.info-table{
	width:350px;
}
.s1 {
	color: #004559;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 40px;
}
.s2 {
	color: #5E514E;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 11px;
}
.s3 {
	color: #007C8B;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 16px;
}
.s4 {
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 8px;
}
.s6 {
	color: #231F20;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 12px;
}
h1 {
	color: #007C8B;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	font-size: 16px;
}
.s7 {
	color: #231F20;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	font-size: 11px;
}
.s8 {
	color: #4C361D;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}
.s9 {
	color: #231F20;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 12px;
}
.s10 {
	color: #898A17;
	font-family: Wingdings;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 24px;
}
.all-uppercase{
	text-transform:uppercase;
}
.s11 {
	color: rgb(94,81,78);
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	font-size: 8pt;
}
.s13 {
	color: #004559;
	font-size: 16pt;
}
.s14 {
	color: #004559;
	font-size: 19px;
}
.s15{
	text-transform:none;
	font-weight:bold;
	color: #000;
}
h2 {
	color: #4C361D;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}
h3 {
	color: #5E514E;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	font-size: 11px;
}
.a {
	color: #5E514E;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 11px;
}
.s12 {
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 11px;
}
.column-2-value{
	width:58px;
	text-align:left;
}
.column-1-label{
	display:block;
	text-align:left;
	width:130px;
}
.td-indent{
	padding-left:25px;
}
.column-1-value{
	display:block;
	width:20px;
	text-align:left;
}
.coach-plan-status-table{
	width:540px;
}

.text-align-right{
	text-align:right;
}
hr {
	clear: both;
	height: 2px;
	background-color: #cfcbc7;
	border: none;
}
.avoid-break {
	page-break-inside:avoid;
}
.cover-label-padding {
	padding-top: 1px;
}
status-sum-column-2{
	width:.6em;
}
.border-right{
	border-right:1px #cfcbc7 solid;
}
.status-table th{
	text-align:left;
	border-bottom:1px #cfcbc7 solid;
	height:.5em;
}
.status-table{
	border:0;
	border-collapse:collapse;
	width:856px;
	position:relative;
	top:-20px;
}
.status-table td, .status-table th{
	padding:4px 0 0 2px;
	position:relative;
}
.status-column-1{
	width:5em;
	vertical-align:bottom;
	border-right:1px #cfcbc7 solid;
}
.status-column-1b{
	width:12em;
	vertical-align:bottom;
	border-right:1px #cfcbc7 solid;
}
.status-column-2{
	padding-right:10px !important;
	width:65px;
	vertical-align:bottom;
	border-right:1px #cfcbc7 solid;
}
.status-column-3{
	width:2.3em;
	border-right:1px #cfcbc7 solid;
}
.footnote{
	font-style:italic;
	font-size:8pt;	
}
.status-spacer-row{
	height:6px;
}
.status-spacer-column{
	width:.6em;
	border-right:1px #cfcbc7 solid;
	border-bottom:none !important;
}
.percent-label{
	text-align:right !important;
}
.noborders{
	border:none !important;
}
.status-not-started-column{
	width:3.2em;	
}
.status-percentage-column{
	overflow:visible;
	width:3.10em;
	vertical-align:bottom;
	border-right:1px #cfcbc7 solid;
}
.status-column-header{
	position:relative;
	left: -5px;
}
.relative-div{
	position:relative;
	display:block;
}
.center {
	text-align:center;
}
.status-green{
	 background-image:url(css/images/status-green.png);
	 /*border-right:2px #898A17 solid;*/
	 background-color:#898A17;
	 display:block;
	 position:absolute;
	 right:-1px;
	 width:56px;
	 top:-.95em;
	 height:8px;
}
.statusb .status-green{
	width:52px;
}
.special-multicolumn-header{
	position: absolute;
	left: 213px; 
	z-index:91;
}
.special-multicolumn-header-b{
	left: 315px;
}
.special-multicolumn-header-border-block{
	position:absolute; 
	top:40px; 
	left:0px; 
	width:100%; 
	background:#fff; 
	border:2px #fff solid;
	height:36px; 
	float:left;	
	z-index:60;
}
.border-block-b{
	top:70px; }
.special-multicolumn-header-single{
	position:relative; 
	top:0px;
	z-index:92; 
	/*width:70px;*/
}

	