/* Coaching report specific css */

span,div,ul,p,table,tr,th,td,img,object,h1,h2,h3,h4,h5 {
	/*font-family: 'Arial Unicode MS'; */
	/* font-family: "Arial Unicode MS"; */
	font-weight: 300;
	font-size: 14px;
	text-rendering: geometricPrecision;
	border: 0 none;
	margin: 0;
	padding: 0;
	color:#231f20 !important;
}
p{
	page-break-inside: avoid;
}
ul{
	list-style:outside; 
	margin-left:20px; 
}
li > ul{
	list-style:outside; 
	margin-left:40px;
}
table, tr, th, td {
	vertical-align: top;
}
table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}
table td {
	-ms-word-break: break-all;
     word-break: break-all;
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
	vertical-align: middle;
}
div.section {
	page-break-before: auto;
	padding-left: 0px;
	padding-right: 0px;
}
.section p {
	margin-top: 0;
}
#header #header_content {
	width: 100%;
	background-color: #007C8B;
	clear: both;
	overflow: hidden;
}
#header {
  margin-top: 0px;
  height: 102px;
}
/* INVISIBLE HEADER (content of h1 are used by wkhtmltopdf in the header */
h1 {
	position: relative;
	/* had bad results with absolute with wkhtmltopdf header section */
	font-size:11px !important;
	height:2px;/* less than 2px seems to break wkhtmltopdf header section label. */
	right: 900px; z-index : 1;
	color: red !important;
	font-style: normal !important;
	font-weight: normal !important;
	text-decoration: none !important;
	font-size: 24px !important;
	z-index: 1;
}

.header-h1-right {
	position: absolute;
	right: 40px;
	top: 25px;
	z-index: 99;
	color: #FFF !important;
	font-size: 24px;
}

h2 {
	color: #231f20 !important;
	font-style: normal !important;
	text-decoration: none !important;
	font-size: 16px !important;
	margin-bottom: .5em !important;
}

h3 {
	color: #231f20 !important;
	font-style: normal !important;
	text-decoration: none !important;
	font-size: 14px !important;
	font-weight: bold !important;
}
.a {
	color: #231f20 !important;;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 11px;
}
#upperLeft {
	margin-top: 40px !important;
}

.participant {
	font-size: 17px;
	margin-bottom: 0.05in;
}

hr {
	color: #231f20 !important;
	background-color: #231f20 !important;
}

.reportserial {
	color: #a9a9a9 !important;
	font-size: 10px;
	letter-spacing: 1px;
}

.reportdate {
	font-size: 12px;
	margin-bottom: 0.08in;
}

.reportname {
	font-size: 36px;
}

.fullname {
	margin-top: 50px;
	margin-bottom: 10px;
	font-size: 18px;
}
/* viaEDGE coaching report specific */
.center-header{
	text-align:center;
}
.scale-one-container{
	border:#231f20 2px solid;
	background-color:#fff;
	background:url(images/gradientbck1.png);
	background-repeat:no-repeat;
	width:479px;
	height:100px;
	margin:5px auto;
	display:block;
	/*overflow:visible;
	position:relative;
	display:block;*/
}
.scale-one-summary{
	height:44px;
}
/*.percentile-areas{
	height:118px;
	width:240px;
	position:absolute;
}
.percentile-area{
	display:block;
	height:118px;
	border-collapse:collapse;
	border-top:#231f20 2px solid;
	border-bottom:#231f20 2px solid;
}
.pa-left{
	border-left:1px dashed #231f20;	
	float:right;
}
.pa-right{
	border-right:1px dashed #231f20;
	float:left;
}*/
.border-dashed-right{
	border-right:1px dashed #231f20;
}

.percentile-1{
	width:33.4%;
}
.percentile-2{
	width:45.5%; 
}
.percentile-3{
	width:19.4%; 
}
.scale-left-side .percentile-3{
	/*border-left:#231f20 2px solid;*/
	/* fallback  is accomplished in parant container bg image*/ 
	/* Safari 4-5, Chrome 1-9       DOES NOT WORK TO PDF
	background: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#969696), to(#868686));    /* Safari 5.1, Chrome 10+ 
	background: -webkit-linear-gradient(right, #969696, #868686);
	/* Firefox 3.6+ 
	background: -moz-linear-gradient(right, #969696, #868686);
	/* IE 10 
	background: -ms-linear-gradient(right, #969696, #868686);
	/* Opera 11.10+ 
	background: -o-linear-gradient(right, #969696, #868686);*/
}
.scale-left-side .percentile-2{
	/* fallback  is accomplished in parant container bg image*/ 
	/* Safari 4-5, Chrome 1-9        DOES NOT WORK TO PDF
	background: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#d3d3d3), to(#a5a5a5));    /* Safari 5.1, Chrome 10+ 
	background: -webkit-linear-gradient(right, #d3d3d3, #a5a5a5);
	/* Firefox 3.6+ 
	background: -moz-linear-gradient(right, #d3d3d3, #a5a5a5);
	/* IE 10 
	background: -ms-linear-gradient(right, #d3d3d3, #a5a5a5);
	/* Opera 11.10+ 
	background: -o-linear-gradient(right, #d3d3d3, #a5a5a5);*/
}
.scale-left-side .percentile-1{
	/* fallback  is accomplished in parant container bg image*/ 
	/* Safari 4-5, Chrome 1-9        DOES NOT WORK TO PDF
	background: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#f0f0f0), to(#e2e2e2));    /* Safari 5.1, Chrome 10+ 
	background: -webkit-linear-gradient(right, #f0f0f0, #e2e2e2);
	/* Firefox 3.6+ 
	background: -moz-linear-gradient(right, #f0f0f0, #e2e2e2);
	/* IE 10 
	background: -ms-linear-gradient(right, #f0f0f0, #e2e2e2);
	/* Opera 11.10+ 
	background: -o-linear-gradient(right, #f0f0f0, #e2e2e2);*/
}
.scale-right-side .percentile-3{
	/*border-right:#231f20 2px solid;*/
	/* fallback  is accomplished in parant container bg image*/ 
	/* Safari 4-5, Chrome 1-9        DOES NOT WORK TO PDF
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#969696), to(#868686));    
	/* Safari 5.1, Chrome 10+ 
	background: -webkit-linear-gradient(left, #969696, #868686);
	/* Firefox 3.6+ 
	background: -moz-linear-gradient(left, #969696, #868686);
	/* IE 10 
	background: -ms-linear-gradient(left, #969696, #868686);
	/* Opera 11.10+ 
	background: -o-linear-gradient(left, #969696, #868686);*/
}
.scale-right-side .percentile-2{
	/* fallback  is accomplished in parant container bg image*/ 
	/* Safari 4-5, Chrome 1-9       DOES NOT WORK TO PDF
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#d3d3d3), to(#a5a5a5));    
	/* Safari 5.1, Chrome 10+ 
	background: -webkit-linear-gradient(left, #d3d3d3, #a5a5a5);
	/* Firefox 3.6+
	background: -moz-linear-gradient(left, #d3d3d3, #a5a5a5);
	/* IE 10 
	background: -ms-linear-gradient(left, #d3d3d3, #a5a5a5);
	/* Opera 11.10+
	background: -o-linear-gradient(left, #d3d3d3, #a5a5a5);*/
}
.scale-right-side .percentile-1{
	/* fallback  is accomplished in parant container bg image*/ 
	/* Safari 4-5, Chrome 1-9        DOES NOT WORK TO PDF
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#f0f0f0), to(#e2e2e2));    
	/* Safari 5.1, Chrome 10+ 
	background: -webkit-linear-gradient(left, #f0f0f0, #e2e2e2);
	/* Firefox 3.6+ 
	background: -moz-linear-gradient(left, #f0f0f0, #e2e2e2);
	/* IE 10 
	background: -ms-linear-gradient(left, #f0f0f0, #e2e2e2);
	/* Opera 11.10+ 
	background: -o-linear-gradient(left, #f0f0f0, #e2e2e2);*/
}
.scale-left-side{
	position:relative;
	width:49.9%;
	/* height:118px; */
	float:left;
	clear:left;	
}

.scale-right-side{
	position:relative;
	width:49.9%;
	/* height:118px; */
	float:left;
}
.scale-side-summary{
	height:44px;
}
.score-bar {
	position:absolute;
	height: 23px;
	margin-top: 15px;
}
.summary-bar{
	height: 16px;
	margin-top: 15px;
}
.score-bar-left {
	right:0;
	clear: both;
}
.score-bar-right {
	left:0;
	clear: both;
	text-align:right;
}
.score-bar span{
	position:relative;
	top:3px;
	/*text-shadow:0px 0px 5px #FFF;*/
	padding:0 3px;
/* 	font-weight:600; */
}
.summary-bar span{
	top: -1px;
}
.p-adj-summary-bar-2{
	background-color: #839761;
	background: url(images/mental-bar.png);
	background-repeat: repeat-x;
}
.p-adj-summary-bar-3{
	background-color: #5b8e95;
	background: url(images/people-bar.png);
	background-repeat: repeat-x;
}
.p-adj-summary-bar-4{
	background-color: #95947b;
	background: url(images/change-bar.png);
	background-repeat: repeat-x;
}
.p-adj-summary-bar-5{
	background-color: #bdbdbd;
	background: url(images/results-bar.png);
	background-repeat: repeat-x;
}
.p-adj-summary-bar-6{
	background-color: #be8e73;
	background: url(images/self-aware-bar.png);
	background-repeat: repeat-x;
}
.p-adj-summary-bar-2-2{
	background-color: #839761;
	background: url(images/mental-bar-2.png);
	background-repeat: repeat-x;
}
.p-adj-summary-bar-2-3{
	background-color: #5b8e95;
	background: url(images/people-bar-2.png);
	background-repeat: repeat-x;
}
.p-adj-summary-bar-2-4{
	background-color: #95947b;
	background: url(images/change-bar-2.png);
	background-repeat: repeat-x;
}
.p-adj-summary-bar-2-5{
	background-color: #bdbdbd;
	background: url(images/results-bar-2.png);
	background-repeat: repeat-x;
}
.p-adj-summary-bar-2-6{
	background-color: #be8e73;
	background: url(images/self-aware-bar-2.png);
	background-repeat: repeat-x;
}
.summary-score-bar-2{
	border: 1px solid #111;
}
.p-score-bar {
	border: 1px solid #3b8d82;
	background-color: #59b3a7;
	background: url(images/p-score-gradient.jpg);
	background-repeat: repeat-x;
	/* Safari 4-5, Chrome 1-9        DOES NOT WORK TO PDF
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#59b3a7), to(#f8fdfd), to(#59b3a7));    
	/* Safari 5.1, Chrome 10+ 
	background: -webkit-linear-gradient(top, #59b3a7, #f8fdfd, #59b3a7);
	/* Firefox 3.6+ 
	background: -moz-linear-gradient(top, #59b3a7, #f8fdfd, #59b3a7);
	/* IE 10 
	background: -ms-linear-gradient(top, #59b3a7, #f8fdfd, #59b3a7);
	/* Opera 11.10+ 
	background: -o-linear-gradient(top, #59b3a7, #f8fdfd, #59b3a7);*/
}
.p-adj-score-bar {
	top:46px;
	border: 1px solid #ba9e57;
	/* fallback */ 
	background-color: #f6d787;
	background: url(images/p-adj-score-gradient.jpg);
	background-repeat: repeat-x;
	/* Safari 4-5, Chrome 1-9        DOES NOT WORK TO PDF
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f6d787), to(#fffef9), to(#f6d787));    
	/* Safari 5.1, Chrome 10+ 
	background: -webkit-linear-gradient(top, #f6d787, #fffef9, #f6d787);
	/* Firefox 3.6+ 
	background: -moz-linear-gradient(top, #f6d787, #fffef9, #f6d787);
	/* IE 10 
	background: -ms-linear-gradient(top, #f6d787, #fffef9, #f6d787);
	/* Opera 11.10+ 
	background: -o-linear-gradient(top, #f6d787, #fffef9, #f6d787);*/
}
.scale-two-container{
	background-color:#fff;
	border:#231f20 1px solid;
	width:480px;
	height:24px;
	margin:5px auto;
	overflow:visible;
	position:relative;
}
.scale-list-quad{
	float:left; 
	width:46.5%; 
	padding:0 8px;
}
.scale-list-quad ul {
/* 	list-style-image: url('images/square-bullet.png'); this causes font weight issues in pdf*/
	list-style-position: outside;
	list-style-type: square;
/* 	list-style: none; */
	margin-left:0;
	padding-left:0;
	font-size: 12px !important;
}
.scale-list-quad ul li {
	margin-left: 14px;
/* 	background-image: url("images/square-bullet.png"); this causes font weight issues in pdf*/
/* 	background-position: 0 8px; */
/* 	background-repeat:no-repeat; */
	font-weight:normal !important;
}
.scale-list-left{
	float:left; 
	border-right:1px dashed #d3d3d3; 
	width:50%; 
	margin-top: 15px;
}
.scale-list-right{
	float:right; 
	width:48.5%; 
	margin-top: 15px;
}
.scale-two-bar{
	margin:0;
	float:left;	
	top:0;
	position:relative;
	clear:none;
}
.scale-two-bar-cell{
	width:5%;
}
.key-container{
	position:relative;
	height:14px;
	width:100%;
	clear:both;
	margin:0 auto;
	text-align:center;
	font-size:10px !important;
}
.relative-div{
	position:relative;
}
.summary-side-label{
	height:80px;
	display:table-cell;
	vertical-align:middle;
	position:relative;
	font-size:13px !important;
	font-weight:bold;
}
.detailed-scale-container .summary-side-label{
	position:relative;
	top:58px;
}
.scale-label-container{
	text-align:right;	
}
.scale-two-label{
	text-align:right;
	padding-right:15px;
}
.scale-two-label span{
	position:relative;
	bottom:5px;
	font-size:12px !important;
}
.scale-two-label-low{
	text-align:right;
	vertical-align: middle;
}
.scale-two-label-high{
	text-align:left;
	padding-left:15px;
}
.scale-two-keys{
	width:500px;
	text-align:left;
	position:relative;
	font-size:12px;
	vertical-align:top;
 	padding-top: 12px;
}
.key{
	position:absolute;
	bottom:-5px;
	font-size: 12px !important;
}
.key-a-50-left{
	left:.25%;
}
.key-a-40-left{
	left:10%;
}
.key-a-17-left{
	left:32.25%;
}
.key-a-0{
	left:49.25%;
}
.key-a-17-right{
	left:64.75%;
}
.key-a-40-right{
	left:87%;
}
.key-a-50-right{
	left:96.75%;
}
.key-b-0{
	left:1%;
}
.key-b-10{
	left:10%;
}
.key-b-33{
	left:32.5%;
}
.key-b-50{
	left:48.5%;
}
.key-b-67{
	left:65%;
}
.key-b-90{
	left:87%;
}
.key-b-100{
	left:95%;
}
.b-td{
	font-size: 12px !important;
	width:164px;
	text-align:center;
}
.s-right-td{
	font-size: 12px !important;
	text-align:center;
	width:110px;
}
.s-left-td{
	font-size: 12px !important;
	text-align:center;
	width:110px;
}
.po-left-td{
	font-size: 12px !important;
	text-align:right;
}
.po-right-td{
	font-size: 12px !important;
	text-align:left;
}
.score-desc{
	width:28%;
	margin-top:25px;
}
.score-desc-low{
	clear:left;
	float:left;
}
.score-desc-high{
	float:right;
	clear:right;
}
.score-narrative{
	page-break-after: always;
	display:block;
	clear:both;
	padding-top:35px;
}
.red_h1{ color:red !important; text-align: center; }
.vScaleThird{
	position:relative;
	float:left;
	font-size:12px;
}
.blank-div-page-break{
	page-break-after: always;
}
.vScaleThirdMid{
	padding:12px 0;
	width:30%;
}
.vScaleThirdLeft{
	padding:12px 12px 12px 0;
	width:33.75%;
}
.vScaleThirdRight{
	padding:12px 0 12px 12px;
	width:33.75%;
}
.vScaleTick{
	height:58px;
	position:relative;
	border-left:1px #999 dashed;
	width:19.5%;
	float:left;
}
.vScaleTickLast{
	border-right:1px #999 dashed;
}
.vScaleH3{
	color:#008080 !important;
	text-align:center;
	clear:both;
	margin-top: 0;
}
.vScaleLabel{
	color:#4169e1 !important;
	text-align:center;
	clear:both;
	margin-top: 0;
}
.vScaleScore{
	margin-top:17px;
	position:absolute;
}
.score-offset span{
	left:16px;
}
.key-v-0{
	left:-3px;
	bottom:0;
}
.key-v-20{
	left:18%;
	bottom:0;
}
.key-v-40{
	left:37%;
	bottom:0;
}
.key-v-60{
	left:57%;
	bottom:0;
}
.key-v-80{
	left:77%;
	bottom:0;
}
.key-v-100{
	left:95%;
	bottom:0;
}
.c-scale-container{
	width:80%;
	margin:15px auto;
}
.cScale{
	border:1px #231f20 solid;
	height:60px;
	margin:10px 0;
	clear:both;
}
.cScaleLowCell{
	width:15%;
	background-color:#ff0000;
}
.cScaleMidCell{
	width:25%;
	background-color:#ffff00;
}
.cScaleHighCell{
	background-color:#32cd32;
	width:20%;
}
.cHighBorders{
	border-right:1px dashed #231f20;
	border-left:1px dashed #231f20;
}
.cScaleMark{
	background-image: url("images/cSquare.png");
	background-position: center center;
	background-repeat: no-repeat;
}
sup { 
	vertical-align: top; 
	font-size: 0.6em; 
	position: relative; 
	top: -0.4em;
}