/* CSS Document */
.results-table {
	/*width:670px;*/
	
}

.kf-icon {
	color: #231f20;
}

.reportname {
	color: #00a886 !important;
}

div.definitions {
	page-break-before: always;
}

div.detailed {
	page-break-before: always;
}

.results-table {
	width: 100%;
}

.results-table th {
	vertical-align: bottom;
	/*
	position:relative;
	height:159px;
	vertical-align:bottom;
	border-bottom:2px solid #fff;
	padding:0 0 2px 0 !important;
	*/
}

.results-table td {
	position: relative;
	text-align: center;
	vertical-align: middle;
	border-left: 1px solid #9a9c9c;
	border-right: 1px solid #9a9c9c;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	border-collapse: collapse;
}

.results-table th.hz-line {
	height: 0px;
	border-bottom: 1px solid #9a9c9c;
	border-left: 0 none #fff !important;
	border-right: 0 none #fff !important;
	border-top: 0 none #fff !important;
}

.results-table td.hz-line {
	height: 0px;
	border-bottom: 1px solid #9a9c9c;
	border-left: 0 none #fff !important;
	border-right: 0 none #fff !important;
	border-top: 0 none #fff !important;
}

.results-table td.full-hz-line {
	background-color: #eee;
	border-bottom: 1px solid #9a9c9c;
	border-top: 1px solid #9a9c9c;
	border-left: 0 none #fff !important;
	border-right: 0 none #fff !important;
	height: 3px;
}

.results-table th.full-hz-line-2 {
	border-bottom: 1px solid #9a9c9c;
	border-top: 1px solid #9a9c9c;
	border-left: 0 none #fff !important;
	border-right: 0 none #fff !important;
	height: 0px;
}

.cat-1-1,.cat-2-1,.cat-3-1,.cat-4-1,.cat-5-1,.cat-6-1,.cat-7-1 {
	border-right: 0 none #fff !important;
	border-bottom: 1px solid #eee !important;
	border-top: 1px solid #eee !important;
	border-bottom: 1px solid #eee !important;
	width: 13px;
}

.cat-1-2,.cat-2-2,.cat-3-2,.cat-4-2,.cat-5-2,.cat-7-2 {
	border-left: 0 none #fff !important;
	border-right: 1px solid #eee !important;
	width: 10.5px;
}

.cat-1-3,.cat-2-3,.cat-4-3,.cat-5-3,.cat-7-3,.cat-4-4,.cat-5-4,.cat-5-5
	{
	border-left: 0 none #fff !important;
	border-right: 1px solid #eee !important;
	width: 10.5px;
}

.cat-1-4,.cat-2-4,.cat-3-4,.cat-4-4,.cat-5-4,.cat-7-4,.cat-3-3,.cat-4-5,.cat-5-6,.cat-6-2
	{
	border-left: 0 none #fff !important;
	width: 10.5px;
}

.blank {
	border: 0 none #fff !important;
	width: 6px;
}

.results-table td .kf-icon {
	font-size: 18px;
}

.results-table td.grey-col .kf-icon {
	font-size: 12px;
}

.results-table th.post {
	background-image: url(images/headerBlueBG.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	z-index: 1;
}

.results-table th.pillar {
	background-color: #3bb0e0;
	width: 14px;
	z-index: 99;
}

.results-table .pillar span {
	color: #FFF !important;
}

.vert-header {
	display: inline-block;
	position: relative;
	width: 1em;
	font-size: 8.5px;
	white-space: nowrap;
	color: #231F20;
	/*Firefox*/
	-moz-transform: rotate(-90deg);
	/*Safari*/
	-webkit-transform: rotate(-90deg);
	/*Opera*/
	-o-transform: rotate(-90deg);
	/*IE*/
	-ms-transform: rotate(90deg);
	writing-mode: tb-lr; /* deprecated exept SVG1*/
	/*filter: flipv fliph; do i need this? test in IE8 if needed */
	writing-mode: vertical-lr /* css documents */;
}

.pillar .vert-header {
	font-size: 10px;
	font-weight: bold !important;
	width: 14px;
}

.pillar .header-icon {
	font-size: 12.5px;
}

.post {
	width: 11.5px;
}

.post .vert-header {
	position: relative;
	top: 3px;
	right: 1px;
}

.header-icon {
	position: absolute;
	left: 147px;
	bottom: 8px;
	display: block;
	/*Firefox*/
	-moz-transform: rotate(90deg);
	/*Safari*/
	-webkit-transform: rotate(90deg);
	/*Opera*/
	-o-transform: rotate(90deg);
	/*IE*/
	-ms-transform: rotate(90deg);
}

.bot-icon .header-icon {
	display: inline-block;
	font-size: 30px;
	left: 0;
	position: relative;
	top: 0;
	width: 32px;
}

.bot-icon {
	padding-bottom: 33px !important;
	width: 32px;
}

.mid-size-header .vert-header {
	font-size: 10px !important;
	color: #555d5c !important;
}

.bar-col {
	width: 35px;
}

.name-col {
	text-align: left !important;
	width: 239px; 
}

.name-col-ravens {
	text-align: left !important;
	width: 270px; 
}

.name-colV2 {
	text-align: left !important;
	/* width: 239px; */
	width: 249px;
}

.name-col-ravensV2 {
	text-align: left !important;
	/* width: 270px; */
	width: 280px;
}

.name-col,.bar-col,.score-col,.name-col-ravens,.score-colV2,.name-col-ravensV2,.name-colV2 {
	border-left: 0 none #fff !important;
	border-right: 0 none #fff !important;
}

.grey-col {
	background-color: #eee;
	border-top: 1px solid #eee !important;
	border-bottom: 1px solid #eee !important;
}

td .kf-icon {
	position: relative;
	top: 1px;
}

td .kf-icon.icon-red {
	font-size: 12px;
	top: 0;
}

td .kf-icon.icon-hand {
	font-size: 12px;
	top: 0;
}


td.grey-col .kf-icon {
	position: relative;
	top: 0px;
}

.spacer-col-wide {
	width: 8px;
}

.spacer-col {
	width: 6px;
}

td.score-col {
	width: 20px;
}

td.score-col {
	padding: 0 2px 0 1px !important;
	font-size: 11px;
	font-weight: bold;
	width: 20px; 
	
}

td.score-colV2 {
	/* width: 20px; */
	width: 10px;
}

td.score-colV2 {
	padding: 0 2px 0 1px !important;
	font-size: 11px;
	font-weight: bold;
	/* width: 20px; */
	width: 10px;
}

.bar {
	display: block;
	width: 7px;
	height: 7px;
	float: left;
	margin: 0 0 0 2px;
}

.bar:first-child {
	margin: 0;
}

.bar:last-child {
	margin: 0 2px 0 2px;
}

.strong-bar {
	background-color: #1aa985;
}

.need-bar {
	background-color: #fad805;
}

.table-key {
	font-size: 9px;
	display: block;
	padding: 0 0 0 45px;
	float: right;
}

.table-key .kf-icon {
	padding-left: 6px;
	/* position: relative; */
	top: 4px;
	font-size: 18px;
}

.table-key .kf-icon .icon-hand {
	font-size: 12px;
	top: 1px;
}

.incomplete {
	font-size: 9px;
	color: #565d5c !important;
	position: relative;
	bottom: 2px;
}

.about-table {
	width: 100%;
}

.about-table td {
	padding: 7px;
	vertical-align: middle;
}

.about-table td:FIRST-CHILD {
	text-align: center;
}

.about-table .small-icon {
	font-size: 46px;
}

.about-icon {
	position: relative;
	padding: 0 12px 0 6px;
}

.about-line {
	border-bottom: 1px solid #9a9c9c;
	height: 0px;
	padding: 0 !important;
}

.definitions h2 {
	padding-top: 25px;
}

.legend {
	font-size: 9px;
	text-align: left;
}

.legend .kf-icon {
	padding-left: 10px;
	padding-right: 6px;
	/* position: relative; 
	top: 4px;
	*/
	font-size: 18px;
	top: 4px;
}

.legend .kf-icon.add {
	padding-right: 28px !important;
}


.legend .kf-icon.icon-hand {
	font-size: 12px !important;
	top: 1px;
}

.legend .kf-icon.icon-hand2 {
	font-size: 12px !important;
	top: 1px;
	padding-right: 0px !important;
}

.legend .bigger{
	font-size: 13px !important;
	padding-left: 12px;
	padding-right: 4px;
	/* position: relative;
	top: 1px; */
}

.legend .biggerLeft{
	font-size: 13px !important;
	padding-right: 4px;
	
}

.legend .icons{
	/*	position: relative; 
	top: 2px;  */
	padding-left: 12px;
	padding-right: 4px;	
	
}

.legend .lefticon{
	padding-right: 4px;	
	
}

.legend .iconshand{
	/*	position: relative;
	top: 2px; */
	padding-left: 6px;
		
	
}

.legend .iconslower{
/*	position: relative;
	top: 6px; */
	padding-left: 12px;
	padding-right: 4px;	
	
}

.blanksm {
  width: 15px;
  height: 10px;
}