/* placeholder until core css is made to have generic settings and this file has Coaching Development Plan specific settings */
table, tr, th, td {
  vertical-align:top;
}
table {border-collapse:collapse; table-layout:fixed; width:100%;}
table td {word-wrap:break-word; word-break:hyphenate;}
.section p {
	margin-top:0;
}
div#coverPage p#brandBanner {
	background-color: #007C8B;
	background-image: url(../../../core/svg/pdinh_logo.svg);
	background-repeat: no-repeat;
	background-position: 85px 200px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	height: 300px;
}
#header #header_content {
	width: 100%;
	background-color: #007C8B;
	clear: both;
	overflow: hidden;
}
.s1 {
	color: #004559;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 40px;
}
.s2 {
	color: #5E514E;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 11px;
}
.s3 {
	color: #007C8B;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 16px;
}
.s4 {
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 8px;
}
.s6 {
	color: #231F20;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 12px;
}
h1 {
	color: #007C8B;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	font-size: 16px;
}
.s7 {
	color: #231F20;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	font-size: 11px;
}
.s8 {
	color: #4C361D;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}
.s9 {
	color: #231F20;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 12px;
}
.s10 {
	color: #898A17;
	font-family: Wingdings;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 24px;
}
.s11 {
	color: #5E514E;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	font-size: 11px;
}
h2 {
	color: #4C361D;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}
h3 {
	color: #5E514E;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	font-size: 11px;
}
.a {
	color: #5E514E;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 11px;
}
.s12 {
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 11px;
}
.s13 {
	color: #004559;
	font-size: 16pt;
}
.status-label-zero{
	float:left; position:absolute;
}
hr {
	clear: both;
	height: 2px;
	background-color: #cfcbc7;
	color: #cfcbc7;
	border: none;
}
.avoid-break {
	page-break-inside:avoid;
}
.cover-label-padding {
	padding-top: 1px;
}
div.section.goals {
	page-break-before: auto;
}
div.section.timeframe {
	page-break-before: auto;
}
div.section.meetings {
	page-break-before: auto;
}
div.section.development-actions {
	page-break-before: auto;
}
div.section.development-status {
	page-break-before: auto;
}
.coach-plan-table{
	border:0;
	border-collapse:collapse;
}
.coach-plan-table tr{
	
}
.coach-plan-table td{
	padding:3px 0 3px 0;
}
.item-column-1{
	width:90px;	
	white-space:nowrap;
}
.item-column-2{
	width:125px;
	white-space:nowrap;	
}
.item-column-3{
	width:77px;
	white-space:nowrap;	
}
.item-column-4{
	width:77px;
	white-space:nowrap;	
}
.item-top-border{
	border-top:2px #cfcbc7 solid;
}
.item-bottom-padding{
	padding-bottom:20px !important;
}
.item-bottom-top{
	padding-top:10px !important;
}
.timeframe-column-1{
	width:112px;
}
.dev-action-column-1{
	width:112px;
}
.dev-action-column-3{
	width:112px;
}
.status-table{
	border:0;
	border-collapse:collapse;
	width:695px;
}
.status-table td{
	padding:4px 0;
	position:relative;
}
.status-column-1{
	width:112px;
}
.status-column-2{
	padding-right:10px !important;
	width:63px;
}
.status-spacer-row{
	height:6px;
}
.status-percentage-column{
	overflow:visible;
	width:4.16em;
	border-right:2px #cfcbc7 solid;
}
.status-column-header{
	position:relative;
	left: -5px;
}
.relative-div{
	position:relative;
	display:block;
}
.status-green{
	 /*background-image:url(css/images/status-green.png);*/
	 /*border-right:2px #898A17 solid;*/
	 background-color:#898A17;
	 display:block;
	 position:absolute;
	 right:-2px;
	 width:54px;
	 top:4.5px;
	 height:8px;
}
.img-check-mark{
	display:block;
	width:18px;
	height:18px;
	padding-right:15px;
}
.rightmost-column-header{
	float:right;
}
#header #header_content #right p.coachname {
  font-size: 11pt;
  font-weight: bold;
}

#header #header_content #right p.headerdate {
  font-size: 11pt;
  font-weight: normal;
}