@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700);
span,div,ul,p,table,tr,th,td,img,object,h1,h2,h3,h4,h5 {
	/*font-family: 'Arial Unicode MS'; */
	/*font-family: "Arial Unicode MS"; */
	font-weight: 100;
	font-size: 14px;
	text-rendering: geometricPrecision;
	border: 0 none;
	margin: 0;
	padding: 0;
	color:#231f20 !important;
}
table, tr, th, td {
  vertical-align:top;
}
table {border-collapse:collapse; table-layout:fixed; width:100%;}
table td {word-wrap:break-word; word-break:hyphenate; vertical-align:middle;}
div.section {
  page-break-before: always;
  padding-left: 0px;
  padding-right: 0px;
}
#header #header_content {
	width: 100%;
	background-color: #007C8B;
	clear: both;
	overflow: hidden;
}
#header {
  margin-top: 0px;
  height: 102px;
}
.section p {
	margin-top:0;
}
div#coverPage p#brandBanner {
	background-color: #007C8B;
	background-image: url(../../../core/svg/pdinh_logo.svg);
	background-repeat: no-repeat;
	background-position: 85px 200px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	height: 300px;
}
h1 {
	position: relative;
	/* had bad results with absolute with wkhtmltopdf header section */
	font-size:11px !important;
	height:2px;/* less than 2px seems to break wkhtmltopdf header section label. */
	right: 900px; z-index : 1;
	/*left:-800px;*/
	color: red !important;
	font-style: normal !important;
	font-weight: normal !important;
	text-decoration: none !important;
	font-size: 24px !important;
	z-index: 1;
}

.header-h1-right {
	position: absolute;
	right: 40px;
	top: 25px;
	z-index: 99;
	color: #FFF !important;
	font-size: 24px;
}
/*h1 {
	color: #231f20 !important;;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 24px;
}*/

h2 {
	color: #231f20 !important;;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}
h3 {
	color: #231f20 !important;;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	font-size: 11px;
}
.a {
	color: #231f20 !important;;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 11px;
}

.avoid-break {
	page-break-inside:avoid;
}





/* viaEDGE summary report specific */
.container{
	width:100%;
	display:block;
	overflow:visible;
}
div.section.intro {
	page-break-before: auto;
}

.sectionname{
	color:#FFF;
	font-weight:700;;
	font-size:24px;	
	position:absolute;
	top:10px;
	right:10px;
}
#upperLeft {
	margin-top: 40px !important;
}


.participant{
	font-size:17px;
	margin-bottom:0.05in;
}
hr{
	color:#231f20 !important;
	background-color:#231f20 !important;
}
.reportserial{
	color:#a9a9a9 !important;
	font-size:10px;
	letter-spacing:1px;
}
.reportdate{
	font-size:12px;
	margin-bottom:0.08in;
}
.reportname{
	font-size:36px;
}
.fullname{
	margin-top:50px;
	margin-bottom:10px;
	font-size:18px;	
}
.trait-grid-cell{
	height:	35px;
	border-bottom:#231f20 2px solid;
	border-left:#231f20 2px solid;;
	border-top:#231f20 2px solid;
}
.trait-grid-cell-last{
	border-right:#231f20 2px solid;
}
.trait-grid-mental {
	background-color:#8a9e68;
}
.trait-grid-people {
	background-color:#7ca3a7;
}
.trait-grid-change {
	background-color:#a6a591;
}
.trait-grid-results {
	background-color:#d7d7d7;
}
.trait-grid-selfAware {
	background-color:#c0937e;
}
.agility-topic{
	/*float:left;*/
	display:block;
	width:100%;
	color:#231f20;
}
.icon-result{
	width:25px;
	height:25px;
}
.crosshairs{
	background: url("images/crosshairs.png") no-repeat 30px 3px;
	height:35px;
}
.crosshairs-mental{
	background: url("images/crosshairs-mental.png") no-repeat 30px 3px;
	height:35px;
}
.crosshairs-people{
	background: url("images/crosshairs-people.png") no-repeat 30px 3px;
	height:35px;
}
.crosshairs-change{
	background: url("images/crosshairs-change.png") no-repeat 30px 3px;
	height:35px;
}
.crosshairs-results{
	background: url("images/crosshairs-results.png") no-repeat 30px 3px;
	height:35px;
}
.crosshairs-selfAware{
	background: url("images/crosshairs-selfAware.png") no-repeat 30px 3px;
	height:35px;
}
.scale-td{
	width:33.3%; 
	text-align:center;
	padding-top:1px;
}
.trait-heading{font-size:1.2em; line-height: 30px; font-weight:700;}
.trait-low-div{float:left; clear:left; width:30%; height:50px; text-align:right;}
.trait-span{padding:6px; float:right; }
.trait-span-right{padding:6px; float:left; }
.trait-chart-div{float:left; position:relative; height:50px; width:269px;}
.trait-chart-div table{width:100%}
.trait-high-div{float:left; clear:right; width:30%; height:50px;}
.trait-nar-div{padding-top:2px; width:100%; display:block; clear:both; font-weight:100;}
.sub-section-hr{margin-top:5px; margin-bottom:5px; border:0; color:#a9a9a9; background-color:#a9a9a9; height:1px;}

sup { 
	vertical-align: top; 
	font-size: 0.6em; 
	position: relative; 
	top: -0.4em;
}